@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;600;700&family=Roboto:wght@500&display=swap");

@font-face {
  font-family: "TsukushiARoundGothic";
  src: url("../fonts/Tsukushi-A-Round-Gothic-Regular.ttf") format("truetype");
}

* {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: $primary-color;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("../../images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

a:hover {
  cursor: pointer;
  opacity: 0.75;
}
.container-sm {
  max-width: 900px;
  padding: 0 20px;
  margin: 44px auto 120px;
}

.container-md {
  margin: 50px auto;
  padding: 0 40px;
  max-width: 1280px;
}

.container-lg {
  margin: 0 auto;
  padding: 160px 20px;
  max-width: 1500px;
}

.back-to-top {
  position: fixed;
  display: none;
  bottom: 50%;
  right: 40px;
  transform: translateY(50%);
  width: 90px;
  height: 90px;
  border-radius: 100px;
  z-index: 1000;
}

.back-to-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.line {
  height: 1px;
  width: 100%;
  background-color: $primary-color;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.breadcrumb a,
.breadcrumb span {
  font-size: 16px;
}

.breadcrumb img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.button-view-more {
  text-align: end;
  a {
    display: inline-flex;
    align-items: center;
    gap: 0 8px;
    font-family: $font-TsukushiARoundGothic;
    font-size: 20px;
    font-weight: 700;
  }
  img {
    width: 26px;
    height: 14px;
  }
}

@media (max-width: 768px) {
  .container-sm {
    padding: 0 6vw;
  }

  .container-md {
    padding: 0 6vw;
  }

  .container-lg {
    padding: 20.833vw 6vw;
  }
  .back-to-top {
    right: 4vw;
    width: 11vw;
    height: 11vw;
  }
  .breadcrumb {
    gap: 0 2.083vw;
  }

  .breadcrumb a,
  .breadcrumb span {
    font-size: 2.083vw;
  }

  .breadcrumb img {
    width: 2.083vw;
    height: 2.083vw;
  }
  .button-view-more {
    a {
      font-size: 2.6vw;
    }
    img {
      width: 3.385vw;
      height: 1.823vw;
    }
  }
}

@media (max-width: 480px) {
  .container-sm {
    padding: 0 4vw;
  }

  .container-md {
    padding: 0 4vw;
  }

  .container-lg {
    padding: 25vw 4vw;
  }
  .back-to-top {
    right: 2vw;
    width: 18vw;
    height: 18vw;
  }
  .breadcrumb a,
  .breadcrumb span {
    font-size: 3vw;
  }

  .breadcrumb img {
    width: 3vw;
    height: 3vw;
  }
  .button-view-more {
    a {
      font-size: 4vw;
    }
    img {
      width: 4vw;
      height: 3vw;
    }
  }
}
