@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&family=Roboto:wght@500&display=swap");

@font-face {
  font-family: "TsukushiARoundGothic";
  src: url("../fonts/Tsukushi-A-Round-Gothic-Regular.ttf") format("truetype");
}

* {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: $primary-color;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

a:hover {
  cursor: pointer;
  opacity: 0.75;
}

.back-to-top {
  position: fixed;
  display: none;
  bottom: 50%;
  right: 40px;
  transform: translateY(50%);
  width: 90px;
  height: 90px;
  border-radius: 100px;
  z-index: 1000;
}

.back-to-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.line {
  height: 1px;
  width: 100%;
  background-color: $primary-color;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin-bottom: 32px;
}

.breadcrumb a,
.breadcrumb span {
  font-size: 16px;
}

.breadcrumb img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.button-view-more {
  text-align: end;
  a {
    display: inline-flex;
    align-items: center;
    gap: 0 8px;
    font-family: $font-TsukushiARoundGothic;
    font-size: 24px;
    font-weight: 700;
  }
  img {
    width: 26px;
    height: 14px;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    right: 4vw;
    width: 11vw;
    height: 11vw;
  }
  .breadcrumb {
    gap: 0 2.083vw;
    margin-bottom: 4.071vw;
  }

  .breadcrumb a,
  .breadcrumb span {
    font-size: 2.083vw;
  }

  .breadcrumb img {
    width: 2.083vw;
    height: 2.083vw;
  }
  .button-view-more {
    a {
      font-size: 3.125vw;
    }
    img {
      width: 3.385vw;
      height: 1.823vw;
    }
  }
}

@media (max-width: 480px) {
  .back-to-top {
    right: 2vw;
    width: 15vw;
    height: 15vw;
  }
  .breadcrumb a,
  .breadcrumb span {
    font-size: 3vw;
  }

  .breadcrumb img {
    width: 3vw;
    height: 3vw;
  }
}
