$primary-color: #797271;
$white: #fff;
$black: #000000;
$green: #b2ce7c;
$pink: #fe9ba9;
$pink-dark: #ee9ea9;
$gray: #d9d9d9;
$blue: #1d96d6;
$blue-light: #4da7d6;
$yellow: #f5ba44;

$font-roboto: "Roboto", sans-serif;
$font-noto-sans-jp: "Noto Sans JP", sans-serif;
$font-TsukushiARoundGothic: "TsukushiARoundGothic", sans-serif;
$font-inter: "Inter", sans-serif;
