.productDetails {
  max-width: 1240px;
  margin: 10px auto 160px;
  padding: 0 20px;
  .breadcrumb a,
  .breadcrumb span {
    font-size: 14px;
  }
  &-main {
    display: flex;
    gap: 0 100px;
  }
  &-content {
    max-width: 361px;
    width: 100%;
  }
  &-slider-container {
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px 0;
  }
  &-slider-main {
    background-color: $white;
    width: 100%;
    .slick-slide {
      display: flex !important;
      justify-content: center;
      padding: 51px 0;
    }
    img {
      width: 316px !important;
      height: 538px !important;
      object-fit: cover;
    }
  }
  &-slider-thumbnail {
    max-width: 600px;
    margin-left: 20px;
    width: 100%;
    cursor: pointer;
    .slick-list {
      width: 473px;
    }
    .slick-slide {
      width: 124px !important;
      height: 124px !important;
      padding: 10px;
      margin-right: 10px;
      img {
        width: 100px !important;
        height: 100px !important;
        object-fit: cover;
      }
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: transparent;
      outline: none;
      border: none;
      img {
        width: 16px;
        height: 24px;
      }
    }
    .slick-prev {
      right: 10%;
    }
    .slick-next {
      right: 0;
    }
    .slick-current {
      border: 5px solid $primary-color;
      border-radius: 16px;
    }
  }
  &-status {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-bottom: 18px;
    span {
      display: inline-block;
      font-family: $font-roboto;
      font-weight: 500;
      font-size: 12px;
      color: $white;
      width: 80px;
      padding: 2px 0;
      background-color: $primary-color;
      text-align: center;
    }
  }
  &-name {
    font-family: $font-roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.17;
    margin-bottom: 8px;
    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
  &-price {
    margin-bottom: 13px;
    small {
      font-family: $font-roboto;
      font-size: 20px;
      font-weight: 500;
    }
    span {
      font-family: $font-roboto;
      font-size: 36px;
      font-weight: 500;
      line-height: 1.17;
    }
    strong {
      font-family: $font-roboto;
      font-weight: 700;
      font-size: 14px;
    }
  }
  &-rating {
    display: flex;
    align-items: center;
    gap: 0 28px;
    margin-bottom: 38px;
    .more-rating {
      font-size: 14px;
      font-weight: 500;
      background-color: $yellow;
      color: $white;
      border-radius: 24px;
      padding: 2px 16px;
    }
  }
  &-star {
    display: flex;
    align-items: center;
    gap: 0 2px;
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
    .count-star {
      font-size: 16px;
      font-weight: 500;
    }
  }
  &-color {
    margin-bottom: 17px;
    &-title {
      font-size: 16px;
      font-weight: 500;
      opacity: 0.7;
      margin-bottom: 5px;
    }
    &-options {
      display: flex;
      gap: 0 10px;
      input[type="radio"] {
        display: none;
        &:checked + label {
          border: 3px solid $primary-color;
        }
      }
      label {
        cursor: pointer;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.3s;
        img {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
  &-option {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    margin-bottom: 30px;
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        font-size: 16px;
        font-weight: 400;
      }
      select {
        border: 2px solid $primary-color;
        border-radius: 45px;
        padding: 0px 32px;
        width: 100%;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      .wrapping {
        display: flex;
        align-items: center;
        gap: 0 15px;
        label {
          display: flex;
          align-items: center;
          gap: 0 2px;
          input {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
  .select-custom {
    position: relative;
    width: 240px;
    &-arrow {
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
      pointer-events: none;
      img {
        width: 16px;
        height: 12px;
        object-fit: contain;
      }
    }
  }
  &-quantity {
    select {
      font-size: 24px;
      font-weight: 400;
    }
  }
  &-shipping {
    display: flex;
    align-items: center;
    gap: 0 10px;
    p {
      font-size: 14px;
      font-weight: 400;
    }
    img {
      width: 25px;
      height: 25px;
      object-fit: contain;
    }
  }
  &-addCart {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    background-color: $pink;
    border-radius: 40px;
    padding: 15px 0px;
    width: 100%;
    justify-content: center;
    text-wrap: nowrap;
    gap: 0 5px;
    margin-bottom: 30px;
    span {
      font-family: $font-TsukushiARoundGothic;
      font-size: 24px;
      color: $white;
    }
    img {
      width: 28px;
      height: 28px;
      object-fit: contain;
    }
  }
  &-share {
    display: flex;
    align-items: center;
    gap: 0 24px;
    padding: 0 25px;
    span {
      font-size: 14px;
      font-weight: 400;
    }
  }
  &-social {
    display: flex;
    align-items: center;
    gap: 0 15px;
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      display: block;
    }
  }
}

.productTab {
  max-width: 1240px;
  margin: 10px auto 162px;
  padding: 0 20px;
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    h4 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
  &-toggle-content {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: $primary-color;
    background: transparent;
    border: none;
    margin-bottom: 10px;
    font-size: 0;
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      background-color: $primary-color;
    }
    &::before {
      width: 17px;
      height: 3px;
    }
    &.plus::after {
      width: 3px;
      height: 17px;
    }
  }
  .line {
    margin: 40px 0;
  }
  .tab {
    max-width: 640px;
    width: 100%;
    border-bottom: 2px solid $primary-color;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    button {
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      font-size: 24px;
      font-weight: 500;
      opacity: 0.7;
      padding-bottom: 10px;
      &.active {
        border-bottom: 6px solid $pink-dark;
        opacity: 1;
      }
    }
  }
  &-content {
    display: none;
    max-width: 640px;
    width: 100%;
  }
  &-heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  &-specical {
    h4 {
      font-family: $font-roboto;
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 22px;
      &-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0 20px;

        ul {
          list-style: inside;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  &-notice {
    &-main {
      list-style: inside;
      li {
        font-family: $font-inter;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 1px;
      }
    }
  }
  &-manual {
    &-main {
      span {
        font-family: $font-inter;
        font-size: 14px;
        font-weight: 500;
      }
      p {
        font-family: $font-inter;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
      }
    }
    &-link {
      font-family: $font-inter;
      font-size: 14px;
      display: block;
      margin-bottom: 24px;
    }
    &-item {
      margin-bottom: 22px;
    }
  }
  &-exchange {
    margin-bottom: 74px;
    &-main {
      font-size: 14px;
      font-weight: 500;
      p {
        font-family: $font-inter;
        margin-bottom: 5px;
      }
      a {
        font-family: $font-inter;
        color: $blue-light;
        text-decoration: underline;
      }
    }
  }
  &-faq {
    &-heading {
      font-size: 24px;
      font-weight: 500;
    }
    &-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      h4 {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
      }
    }
    &-answer {
      p {
        font-family: $font-inter;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}

.product-seller {
  margin-bottom: 250px;
  &-header {
    border-bottom: 1px solid $primary-color;
    margin-bottom: 70px;
  }
  &-heading {
    font-family: $font-roboto;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 3.2px;
    margin: 0;
    span {
      font-family: $font-TsukushiARoundGothic;
      font-size: 16px;
      font-weight: 700;
    }
  }
  .home-product-main {
    max-width: 1240px;
  }
}

@media screen and (max-width: 1280px) {
  .productDetails {
    &-main {
      gap: 60px;
    }
    &-slider-container {
      max-width: 550px;
    }
    &-slider-thumbnail {
      .slick-list {
        width: 400px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .productDetails {
    &-main {
      gap: 50px;
    }
    &-slider-container {
      max-width: 500px;
    }
    &-slider-thumbnail {
      .slick-list {
        width: 400px;
      }
    }
    &-content {
      max-width: 100%;
      padding: 0 20px;
    }
    .select-custom {
      width: 300px;
    }
  }
}

@media screen and (max-width: 991px) {
  .productDetails {
    &-main {
      flex-direction: column;
    }
    &-slider-container {
      max-width: 100%;
      align-items: center;
    }
    &-slider-thumbnail {
      .slick-list {
        width: 400px;
      }
    }
    &-content {
      max-width: 100%;
      padding: 0 20px;
    }
    .select-custom {
      width: 300px;
    }
  }
}

@media screen and (max-width: 767.98px) {
  .productDetails {
    margin: 1.302vw auto 13vw;
    padding: 0 2.604vw;

    .breadcrumb a,
    .breadcrumb span {
      font-size: 1.823vw;
    }
    &-main {
      gap: 8vw;
    }
    &-slider-container {
      gap: 6vw 0;
    }
    &-slider-main {
      .slick-slide {
        padding: 6.51vw 0;
      }
      img {
        width: 39.063vw !important;
        height: 65.104vw !important;
      }
    }
    &-slider-thumbnail {
      max-width: 78.125vw;
      margin-left: 2.604vw;
      .slick-list {
        width: 61.589vw;
      }
      .slick-slide {
        width: 16.146vw !important;
        height: 16.146vw !important;
        padding: 1.302vw;
        margin-right: 1.302vw;
        img {
          width: 13.021vw !important;
          height: 12vw !important;
        }
      }
      .slick-arrow img {
        width: 2.083vw;
        height: 3.125vw;
      }
      .slick-current {
        border-radius: 2.083vw;
      }
    }
    &-status {
      gap: 0 2.083vw;
      margin-bottom: 2.344vw;
      span {
        font-size: 1.563vw;
        width: 10.417vw;
        padding: 0.26vw 0;
      }
    }
    &-name {
      font-size: 4.167vw;
      margin-bottom: 1.042vw;
      span {
        font-size: 1.823vw;
      }
    }
    &-price {
      margin-bottom: 1.693vw;
      small {
        font-size: 2.604vw;
      }
      span {
        font-size: 4.688vw;
      }
      strong {
        font-size: 1.823vw;
      }
    }
    &-rating {
      gap: 0 3.646vw;
      margin-bottom: 4.948vw;
      .more-rating {
        font-size: 1.823vw;
        border-radius: 3.125vw;
        padding: 0.26vw 2.083vw;
      }
    }
    &-star {
      gap: 0 0.26vw;
      img {
        width: 3.125vw;
        height: 3.125vw;
      }
      .count-star {
        font-size: 2.083vw;
      }
    }
    &-color {
      margin-bottom: 2.214vw;
      &-title {
        font-size: 2.083vw;
        margin-bottom: 0.651vw;
      }
      &-options {
        gap: 0 1.302vw;
        label {
          width: 10.417vw;
          height: 10.417vw;
          img {
            width: 7.292vw;
            height: 7.292vw;
          }
        }
      }
    }
    &-option {
      gap: 1.953vw 0;
      margin-bottom: 3.906vw;
      &-item {
        label {
          font-size: 2.083vw;
        }
        select {
          border-radius: 5.859vw;
          padding: 0px 4.167vw;
          height: 5.208vw;
          font-size: 2.083vw;
        }
        .wrapping {
          gap: 0 1.953vw;
          label {
            input {
              width: 2.083vw;
              height: 2.083vw;
            }
          }
        }
      }
    }
    .select-custom {
      width: 31.25vw;
      &-arrow {
        right: 3.125vw;
        img {
          width: 2.083vw;
          height: 1.563vw;
        }
      }
    }
    &-quantity {
      select {
        font-size: 3.125vw;
      }
    }
    &-shipping {
      gap: 0 1.302vw;
      p {
        font-size: 1.823vw;
      }
      img {
        width: 3.255vw;
        height: 3.255vw;
      }
    }
    &-addCart {
      padding: 1.953vw 0px;
      gap: 0 0.651vw;
      margin-bottom: 3.906vw;
      span {
        font-size: 3.125vw;
      }
      img {
        width: 3.646vw;
        height: 3.646vw;
      }
    }
    &-share {
      gap: 0 3.125vw;
      padding: 0 3.255vw;
      span {
        font-size: 1.823vw;
      }
    }
    &-social {
      gap: 0 1.953vw;
      img {
        width: 3.125vw;
        height: 3.125vw;
      }
    }
  }

  .productTab {
    margin: 1.302vw auto 13vw;
    padding: 0 2.604vw;
    &-header {
      margin-bottom: 3.906vw;
      h4 {
        font-size: 2.604vw;
      }
    }
    &-toggle-content {
      width: 3.125vw;
      height: 3.125vw;
      margin-bottom: 1.302vw;
      &::before {
        width: 2.214vw;
        height: 0.391vw;
      }
      &.plus::after {
        width: 0.391vw;
        height: 2.214vw;
      }
    }
    .line {
      margin: 5.208vw 0;
    }
    .tab {
      margin-bottom: 8.333vw;
      button {
        font-size: 3.125vw;
        padding-bottom: 1.302vw;
        &.active {
          border-width: 1vw;
        }
      }
    }
    &-content {
      max-width: 100%;
    }
    &-heading {
      font-size: 3.125vw;
      margin-bottom: 5.208vw;
    }
    &-specical {
      &-info {
        gap: 2.865vw;
        &-item {
          gap: 0 2.604vw;
          font-size: 2.083vw;
        }
      }
    }
    &-notice {
      &-main {
        li {
          font-size: 1.823vw;
        }
      }
    }
    &-manual {
      &-main {
        span {
          font-size: 1.823vw;
        }
        p {
          font-size: 1.823vw;
        }
      }
      &-link {
        font-size: 1.823vw;
        margin-bottom: 3.125vw;
      }
      &-item {
        margin-bottom: 2.865vw;
      }
    }
    &-exchange {
      margin-bottom: 7.813vw;
      &-main {
        font-size: 1.823vw;
        p {
          margin-bottom: 0.651vw;
        }
      }
    }
    &-faq {
      &-heading {
        font-size: 3.125vw;
      }
      &-question {
        margin-bottom: 3.906vw;
        h4 {
          font-size: 2.604vw;
        }
      }
      &-answer {
        p {
          font-size: 2.083vw;
        }
      }
    }
  }

  .product-seller {
    margin-bottom: 25vw;
    &-header {
      margin-bottom: 8vw;
    }
    &-heading {
      font-size: 4.167vw;
      letter-spacing: 0.417vw;
      span {
        font-size: 2.083vw;
      }
    }
    .home-product-main {
      padding: 0 2.604vw;
    }
  }
}

@media screen and (max-width: 480px) {
  .productDetails {
    .breadcrumb a,
    .breadcrumb span {
      font-size: 3vw;
    }
    &-status {
      span {
        font-size: 2.5vw;
        width: 15vw;
      }
    }
    &-name {
      font-size: 5.5vw;
      span {
        font-size: 3vw;
      }
    }
    &-price {
      small {
        font-size: 3.5vw;
      }
      span {
        font-size: 6vw;
      }
      strong {
        font-size: 3vw;
      }
    }
    &-rating {
      .more-rating {
        font-size: 3vw;
      }
    }
    &-star {
      img {
        width: 4vw;
        height: 4vw;
      }
      .count-star {
        font-size: 3.2vw;
      }
    }
    &-color {
      &-title {
        font-size: 3.2vw;
      }
    }
    &-option {
      &-item {
        label {
          font-size: 3.2vw;
        }
        select {
          height: 7vw;
          font-size: 3.2vw;
        }
        .wrapping {
          label {
            input {
              width: 3vw;
              height: 3vw;
            }
          }
        }
      }
    }
    .select-custom {
      width: 40vw;
    }
    &-quantity {
      select {
        font-size: 4vw;
      }
    }
    &-shipping {
      p {
        font-size: 3vw;
      }
      img {
        width: 4vw;
        height: 4vw;
      }
    }
    &-addCart {
      span {
        font-size: 5vw;
      }
      img {
        width: 5vw;
        height: 5vw;
      }
    }
    &-share {
      span {
        font-size: 3vw;
      }
    }
    &-social {
      img {
        width: 4vw;
        height: 4vw;
      }
    }
  }

  .productTab {
    &-header {
      h4 {
        font-size: 4.8vw;
      }
    }
    &-toggle-content {
      &::before {
        width: 4vw;
        height: 0.7vw;
      }
      &.plus::after {
        width: 0.7vw;
        height: 4vw;
      }
    }
    .tab {
      button {
        font-size: 4.8vw;
        &.active {
          border-width: 1vw;
        }
      }
    }

    &-heading {
      font-size: 4.8vw;
    }
    &-specical {
      &-info {
        &-item {
          font-size: 3.2vw;
        }
      }
    }
    &-notice {
      &-main {
        li {
          font-size: 3vw;
        }
      }
    }
    &-manual {
      &-main {
        span {
          font-size: 3vw;
        }
        p {
          font-size: 3vw;
        }
      }
      &-link {
        font-size: 3vw;
      }
    }
    &-exchange {
      &-main {
        font-size: 3vw;
      }
    }
    &-faq {
      &-heading {
        font-size: 4.8vw;
      }
      &-question {
        h4 {
          font-size: 4vw;
        }
      }
      &-answer {
        p {
          font-size: 3vw;
        }
      }
    }
  }
  .product-seller {
    &-heading {
      font-size: 5.5vw;
      span {
        font-size: 3vw;
      }
    }
  }
}
