input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  accent-color: $primary-color;
}
.register {
  margin: 0 auto 125px;
  padding: 0 20px;
  max-width: 1240px;
  &-main {
    max-width: 898px;
    padding: 0 20px;
    margin: 44px auto;
  }
  &-header {
    text-align: center;
    margin-bottom: 73px;
  }
  &-heading {
    font-size: 32px;
    font-weight: 700;
  }
  &-desc {
    font-size: 20px;
    font-weight: 500;
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 35px 0;
    .input-group {
      display: flex;
      flex-direction: column;
      gap: 16px 0;
      label {
        font-size: 24px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0 16px;
        .required {
          display: inline-block;
          font-size: 16px;
          font-weight: 500;
          background-color: $primary-color;
          padding: 2px 12px 3px 12px;
          border-radius: 2px;
          color: $white;
        }
        small {
          font-size: 12px;
          font-weight: 500;
        }
      }
      input {
        width: 100%;
        border: 1px solid $primary-color;
        border-radius: 40px;
        padding: 17px 28px;
        font-size: 24px;
        font-weight: 300;
        background: $white;
        &[type="radio"] {
          width: 24px;
          height: 24px;
        }
      }
      .input-md {
        width: 56%;
        button {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          background: transparent;
          padding-right: 24px;
          outline: none;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 32px;
            height: 32px;
            object-fit: contain;
          }
        }
      }
      .input-password {
        position: relative;
      }
      .input-radio {
        display: flex;
        align-items: center;
        gap: 0 33px;
        padding: 19px 0;
        label {
          display: flex;
          align-items: center;
          gap: 0 5.5px;
          span {
            font-size: 24px;
          }
        }
      }
      .date-select {
        display: flex;
        align-items: center;
        gap: 0 20px;
        .custom-select {
          width: 100%;
          position: relative;
          select {
            border: 1px solid $primary-color;
            border-radius: 40px;
            padding: 17px 28px;
            font-size: 24px;
            font-weight: 300;
            background-color: $white;
            width: 100%;
            cursor: pointer;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            option {
              font-size: 24px;
            }
          }
          .custom-arrow {
            position: absolute;
            top: 50%;
            right: 24px;
            transform: translateY(-50%);
            pointer-events: none;
            color: $primary-color;
            img {
              display: block;
              height: 32px;
              width: 32px;
              object-fit: contain;
            }
          }
        }
      }
    }
    .add-more-info {
      button {
        display: block;
        border: 1px solid $primary-color;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        padding: 14px 20px;
        background: $white;
      }
    }
    .privacy-policy-group {
      display: flex;
      align-items: center;
      gap: 0 5px;
      input {
        width: 24px;
        height: 24px;
        border: 2px solid $primary-color;
      }
      label {
        font-size: 20px;
        font-weight: 500;
        .text-blue {
          color: $blue;
          margin-right: 12px;
          text-decoration: underline;
        }
      }
    }
  }
  &-submit {
    text-align: center;
    margin-top: 122px;
    button {
      display: inline-block;
      border-radius: 100px;
      padding: 15px 132px;
      background-color: $green;
      color: $white;
      font-size: 24px;
      border: none;
    }
  }
}

@media (max-width: 768px) {
  .register {
    margin-bottom: 16.276vw;
    padding: 0 3vw;
    &-main {
      padding: 0 2vw;
      margin: 5.729vw auto;
    }
    &-header {
      margin-bottom: 9vw;
    }
    &-heading {
      font-size: 4.167vw;
    }
    &-desc {
      font-size: 2.604vw;
    }
    &-form {
      gap: 5vw 0;
      .input-group {
        gap: 2.083vw 0;
        label {
          font-size: 3.125vw;
          gap: 0 2.083vw;
          .required {
            font-size: 2.083vw;
            padding: 0.26vw 1.563vw 0.391vw;
          }
          small {
            font-size: 1.563vw;
          }
        }
        input {
          border-radius: 5.208vw;
          padding: 2.214vw 3.646vw;
          font-size: 3.125vw;
          &[type="radio"] {
            width: 3.125vw;
            height: 3.125vw;
          }
        }
        .input-md {
          width: 80%;
          button {
            padding-right: 3.125vw;
            img {
              width: 4.167vw;
              height: 4.167vw;
            }
          }
        }
        .input-radio {
          gap: 0 4.297vw;
          padding: 2.474vw 0;
          label {
            gap: 0 0.716vw;
            span {
              font-size: 3.125vw;
            }
          }
        }
        .date-select {
          gap: 0 2.604vw;
          .custom-select {
            select {
              border-radius: 5.208vw;
              padding: 2.214vw 3.646vw;
              font-size: 3.125vw;
              width: 100%;
              option {
                font-size: 3.125vw;
              }
            }
            .custom-arrow {
              right: 3.125vw;
              img {
                height: 4.167vw;
                width: 4.167vw;
              }
            }
          }
        }
      }
      .add-more-info {
        button {
          border-radius: 1.302vw;
          font-size: 2.083vw;
          padding: 1.823vw 2.604vw;
        }
      }
      .privacy-policy-group {
        gap: 0 0.651vw;
        input {
          width: 3.125vw;
          height: 3.125vw;
        }
        label {
          font-size: 2.604vw;
          .text-blue {
            margin-right: 1.563vw;
          }
        }
      }
    }
    &-submit {
      margin-top: 15vw;
      button {
        border-radius: 13.021vw;
        padding: 1.953vw 17.188vw;
        font-size: 3.125vw;
      }
    }
  }
}

@media (max-width: 480px) {
  .register {
    &-heading {
      font-size: 5vw;
    }
    &-desc {
      font-size: 3vw;
    }
    &-form {
      gap: 6vw 0;
      .input-group {
        label {
          small {
            font-size: 2vw;
          }
        }
        input {
          &[type="radio"] {
            width: 4vw;
            height: 4vw;
          }
        }
        .date-select {
          .custom-select {
            .custom-arrow {
              right: 2vw;
              img {
                height: 5vw;
                width: 5vw;
              }
            }
          }
        }
      }
      .add-more-info {
        button {
          font-size: 2.5vw;
        }
      }
      .privacy-policy-group {
        input {
          width: 4vw;
          height: 4vw;
        }
      }
    }
    &-submit {
      margin-top: 10vw;
      button {
        font-size: 3.5vw;
      }
    }
  }
}
