/* general */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;600;700&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "TsukushiARoundGothic";
  src: url("../../fonts/Tsukushi-A-Round-Gothic-Regular.ttf") format("truetype");
}
* {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #797271;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("../../images/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

a:hover {
  cursor: pointer;
  opacity: 0.75;
}

.container-sm {
  max-width: 900px;
  padding: 0 20px;
  margin: 44px auto 120px;
}

.container-md {
  margin: 50px auto;
  padding: 0 40px;
  max-width: 1280px;
}

.container-lg {
  margin: 0 auto;
  padding: 160px 20px;
  max-width: 1500px;
}

.back-to-top {
  position: fixed;
  display: none;
  bottom: 50%;
  right: 40px;
  transform: translateY(50%);
  width: 90px;
  height: 90px;
  border-radius: 100px;
  z-index: 1000;
}

.back-to-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #797271;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.breadcrumb a,
.breadcrumb span {
  font-size: 16px;
}

.breadcrumb img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.button-view-more {
  text-align: end;
}
.button-view-more a {
  display: inline-flex;
  align-items: center;
  gap: 0 8px;
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.button-view-more img {
  width: 26px;
  height: 14px;
}

@media (max-width: 768px) {
  .container-sm {
    padding: 0 6vw;
  }
  .container-md {
    padding: 0 6vw;
  }
  .container-lg {
    padding: 0 6vw;
  }
  .back-to-top {
    right: 4vw;
    width: 11vw;
    height: 11vw;
  }
  .breadcrumb {
    gap: 0 2.083vw;
  }
  .breadcrumb a,
  .breadcrumb span {
    font-size: 2.083vw;
  }
  .breadcrumb img {
    width: 2.083vw;
    height: 2.083vw;
  }
  .button-view-more a {
    font-size: 2.6vw;
  }
  .button-view-more img {
    width: 3.385vw;
    height: 1.823vw;
  }
}
@media (max-width: 480px) {
  .container-sm {
    padding: 0 4vw;
  }
  .container-md {
    padding: 0 4vw;
  }
  .container-lg {
    padding: 0 4vw;
  }
  .back-to-top {
    right: 2vw;
    width: 18vw;
    height: 18vw;
  }
  .breadcrumb a,
  .breadcrumb span {
    font-size: 3vw;
  }
  .breadcrumb img {
    width: 3vw;
    height: 3vw;
  }
  .button-view-more a {
    font-size: 4vw;
  }
  .button-view-more img {
    width: 4vw;
    height: 3vw;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.header-logo {
  margin-left: 60px;
}
.header .menu {
  background-image: url("../../images/Intersect.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 440px;
  height: 121px;
}
.header .menu-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 74px;
}
.header .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-weight: bold;
  background: transparent;
  border: none;
}
.header .menu-item img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.header .menu-item span {
  font-size: 16px;
  color: #fff;
}
.header .sub-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: #b2ce7c;
  transition: all 0.3s ease;
  transform: translateX(100%);
  padding: 20px;
  z-index: 10001;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .sub-menu.active {
  transform: translateX(0%);
}
.header .sub-menu ul li {
  margin-bottom: 60px;
}
.header .sub-menu ul li a {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}
.header .sub-menu-close {
  background: transparent;
  border: none;
  position: absolute;
  top: 25px;
  right: 25px;
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 2.086vw;
  }
  .header-logo {
    margin-left: 4vw;
    width: 38vw;
  }
  .header .menu {
    width: 55vw;
    height: 15vw;
  }
  .header .menu-main {
    margin: 3vw 10vw;
  }
  .header .menu-item {
    gap: 1.282vw;
  }
  .header .menu-item img {
    width: 5.208vw;
    height: 5.208vw;
  }
  .header .menu-item span {
    display: none;
  }
  .header .sub-menu {
    padding: 5.128vw;
  }
  .header .sub-menu ul li {
    margin-bottom: 7.823vw;
  }
  .header .sub-menu ul li a {
    font-size: 3.911vw;
  }
  .header .sub-menu-close {
    top: 5.208vw;
    right: 5.208vw;
  }
}
@media (max-width: 480px) {
  .header .menu-item img {
    width: 6vw;
    height: 6vw;
  }
  .header .sub-menu {
    width: 100vw;
  }
  .header .sub-menu ul li {
    margin-bottom: 15.385vw;
  }
  .header .sub-menu ul li a {
    font-size: 7.692vw;
  }
  .header .sub-menu-close {
    top: 6;
    right: 6;
  }
}
.footer {
  max-width: 1560px;
  padding: 0 20px;
  margin: 200px auto 40px auto;
}
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.footer-info {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
}
.footer-logo {
  width: 400px;
  height: 70px;
  object-fit: contain;
}
.footer-social-icon {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-top: 60px;
  margin-bottom: 25px;
}
.footer-social-icon img {
  margin: 0 15px;
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.footer-desc {
  margin-left: 15px;
  font-size: 12px;
  font-weight: 500;
}
.footer .quicklinks {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  gap: 20px;
}
.footer .quicklinks ul {
  flex: 1 1 30%;
}
.footer .quicklinks ul:first-child li {
  margin-bottom: 40px;
}
.footer .quicklinks ul:nth-child(2) li a {
  position: relative;
  font-size: 18px;
  margin-left: 20px;
}
.footer .quicklinks ul:nth-child(2) li a span {
  font-size: 18px;
}
.footer .quicklinks ul:nth-child(2) li a img {
  position: absolute;
  top: 5px;
  left: -15px;
  width: 10px;
  height: 12px;
}
.footer .quicklinks ul:nth-child(2) li:first-child a {
  font-size: 24px;
  margin-left: 0;
}
.footer .quicklinks ul:last-child li {
  margin-bottom: 20px;
}
.footer .quicklinks ul:last-child li a {
  font-size: 16px;
}
.footer .quicklinks ul li {
  margin-bottom: 25px;
}
.footer .quicklinks ul li a {
  font-size: 24px;
  font-weight: 700;
}
.footer .quicklinks ul li a span {
  font-size: 16px;
}
.footer-end {
  margin-top: 60px;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 1280px) {
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-info {
    align-items: center;
  }
  .footer-social-icon {
    margin-left: 0;
  }
  .footer .quicklinks {
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .footer {
    margin: 26.042vw auto 5.208vw auto;
    padding: 0 2.604vw;
  }
  .footer-wrapper {
    gap: 6.51vw;
  }
  .footer-logo {
    width: 52.083vw;
    height: 9.115vw;
  }
  .footer-social-icon {
    margin-top: 7vw;
  }
  .footer-social-icon img {
    margin: 0 1.953vw;
    width: 4.167vw;
    height: 4.167vw;
  }
  .footer-desc {
    margin-left: 15px;
    font-size: 1.56vw;
  }
  .footer .quicklinks {
    margin-left: 10vw;
    gap: 5vw;
  }
  .footer .quicklinks ul {
    flex: 1 1 30vw;
  }
  .footer .quicklinks ul:first-child li {
    margin-bottom: 4vw;
  }
  .footer .quicklinks ul:nth-child(2) li a {
    font-size: 2.344vw;
    margin-left: 2.604vw;
  }
  .footer .quicklinks ul:nth-child(2) li a span {
    font-size: 2.344vw;
  }
  .footer .quicklinks ul:nth-child(2) li a img {
    top: 0.5vw;
    left: -1.5vw;
    width: 1vw;
    height: 1.2vw;
  }
  .footer .quicklinks ul:nth-child(2) li:first-child a {
    font-size: 3.125vw;
    margin-left: 0;
  }
  .footer .quicklinks ul:last-child li {
    margin-bottom: 3vw;
  }
  .footer .quicklinks ul:last-child li a {
    font-size: 2.083vw;
  }
  .footer .quicklinks ul li {
    margin-bottom: 3.5vw;
  }
  .footer .quicklinks ul li a {
    font-size: 3.125vw;
  }
  .footer .quicklinks ul li a span {
    font-size: 2.083vw;
  }
  .footer-end {
    margin-top: 6vw;
    font-size: 2.083vw;
  }
}
@media (max-width: 480px) {
  .footer-desc {
    font-size: 2.5vw;
  }
  .footer .quicklinks ul:nth-child(2) li a {
    font-size: 3vw;
  }
  .footer .quicklinks ul:nth-child(2) li a span {
    font-size: 3vw;
  }
  .footer .quicklinks ul:nth-child(2) li a img {
    top: 0.5vw;
    left: -1.5vw;
    width: 1vw;
    height: 1.2vw;
  }
  .footer .quicklinks ul:nth-child(2) li:first-child a {
    font-size: 4vw;
  }
  .footer .quicklinks ul:last-child li a {
    font-size: 3vw;
  }
  .footer .quicklinks ul li a {
    font-size: 4vw;
  }
  .footer .quicklinks ul li a span {
    font-size: 3vw;
  }
  .footer-end {
    font-size: 3vw;
  }
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  accent-color: #797271;
}

.register-header {
  text-align: center;
}
.register-heading {
  font-size: 32px;
  font-weight: 700;
}
.register-desc {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 80px;
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
.register-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.register-form .input-group label {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.register-form .input-group label .required {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  background-color: #797271;
  padding: 2px 12px 3px 12px;
  border-radius: 2px;
  color: #fff;
}
.register-form .input-group label small {
  font-size: 12px;
  font-weight: 500;
}
.register-form .input-group input {
  width: 100%;
  border: 1px solid #797271;
  border-radius: 40px;
  padding: 20px 28px;
  font-size: 24px;
  font-weight: 300;
  background: #fff;
}
.register-form .input-group input[type=radio] {
  width: 24px;
  height: 24px;
}
.register-form .input-group .input-md {
  width: 60%;
}
.register-form .input-group .input-md button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  padding-right: 24px;
  outline: none;
  border: none;
}
.register-form .input-group .input-md button img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.register-form .input-group .input-password {
  position: relative;
}
.register-form .input-group .input-radio {
  display: flex;
  align-items: center;
  gap: 0 40px;
  padding: 23px 0;
}
.register-form .input-group .input-radio label {
  display: flex;
  align-items: center;
  gap: 0 5.5px;
}
.register-form .input-group .input-radio label span {
  font-size: 24px;
}
.register-form .input-group .date-select {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.register-form .input-group .date-select .custom-select {
  width: 100%;
  position: relative;
}
.register-form .input-group .date-select .custom-select select {
  border: 1px solid #797271;
  border-radius: 40px;
  padding: 23px;
  font-size: 24px;
  font-weight: 300;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.register-form .input-group .date-select .custom-select select option {
  font-size: 24px;
}
.register-form .input-group .date-select .custom-select .custom-arrow {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #797271;
}
.register-form .input-group .date-select .custom-select .custom-arrow img {
  height: 32px;
  width: 32px;
  object-fit: contain;
}
.register-form .add-more-info button {
  display: block;
  border: 1px solid #797271;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 20px;
  background: #fff;
}
.register-form .privacy-policy-group {
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.register-form .privacy-policy-group input {
  width: 24px;
  height: 24px;
  border: 2px solid #797271;
}
.register-form .privacy-policy-group label {
  font-size: 20px;
  font-weight: 500;
}
.register-form .privacy-policy-group label .text-blue {
  color: #1d96d6;
  margin-right: 12px;
  text-decoration: underline;
}
.register-form .submit {
  text-align: center;
  margin-top: 160px;
}
.register-form .submit button {
  display: inline-block;
  border-radius: 100px;
  padding: 15px 132px;
  background-color: #b2ce7c;
  color: #fff;
  font-size: 24px;
  border: none;
}

@media (max-width: 768px) {
  .register-heading {
    font-size: 4.167vw;
  }
  .register-desc {
    margin-top: 2.604vw;
    margin-bottom: 10.417vw;
    font-size: 2.604vw;
  }
  .register-form {
    gap: 5.208vw 0;
  }
  .register-form .input-group {
    gap: 2.083vw 0;
  }
  .register-form .input-group label {
    font-size: 3.125vw;
    gap: 0 2.083vw;
  }
  .register-form .input-group label .required {
    font-size: 2.083vw;
    padding: 0.26vw 1.563vw 0.391vw 1.563vw;
    border-radius: 0.26vw;
  }
  .register-form .input-group label small {
    font-size: 1.563vw;
  }
  .register-form .input-group input {
    border-radius: 5.208vw;
    padding: 2.604vw 3.646vw;
    font-size: 3.125vw;
  }
  .register-form .input-group input[type=radio] {
    width: 3.125vw;
    height: 3.125vw;
  }
  .register-form .input-group .input-md button {
    padding-right: 3.125vw;
  }
  .register-form .input-group .input-md button img {
    width: 4.167vw;
    height: 4.167vw;
  }
  .register-form .input-group .input-radio {
    gap: 0 5.208vw;
    padding: 2.995vw 0;
  }
  .register-form .input-group .input-radio label {
    gap: 0 0.716vw;
  }
  .register-form .input-group .input-radio label span {
    font-size: 3.125vw;
  }
  .register-form .input-group .date-select {
    gap: 0 2.604vw;
  }
  .register-form .input-group .date-select .custom-select select {
    border-radius: 5.208vw;
    padding: 2.995vw;
    font-size: 3.125vw;
  }
  .register-form .input-group .date-select .custom-select select option {
    font-size: 2vw;
  }
  .register-form .input-group .date-select .custom-select .custom-arrow {
    right: 3.125vw;
  }
  .register-form .input-group .date-select .custom-select .custom-arrow img {
    height: 4.167vw;
    width: 4.167vw;
  }
  .register-form .add-more-info button {
    border-radius: 1.302vw;
    padding: 1.823vw 2.604vw;
    font-size: 2.083vw;
  }
  .register-form .privacy-policy-group {
    gap: 0 0.651vw;
  }
  .register-form .privacy-policy-group input {
    width: 3.125vw;
    height: 3.125vw;
  }
  .register-form .privacy-policy-group label {
    font-size: 2.604vw;
  }
  .register-form .privacy-policy-group label .text-blue {
    margin-right: 1.563vw;
  }
  .register-form .submit {
    margin-top: 20.833vw;
  }
  .register-form .submit button {
    border-radius: 13.021vw;
    padding: 1.953vw 17.188vw;
    font-size: 3.125vw;
  }
}
@media (max-width: 480px) {
  .register-heading {
    font-size: 6.25vw;
  }
  .register-desc {
    font-size: 3.75vw;
  }
  .register-form .input-group label {
    font-size: 4.58vw;
  }
  .register-form .input-group label .required {
    font-size: 2.92vw;
  }
  .register-form .input-group label small {
    font-size: 2.5vw;
  }
  .register-form .input-group input {
    border-radius: 5.208vw;
    padding: 2.604vw 3.646vw;
    font-size: 4.58vw;
  }
  .register-form .input-group input[type=radio] {
    width: 3.125vw;
    height: 3.125vw;
  }
  .register-form .input-group .input-md {
    width: 100%;
  }
  .register-form .input-group .input-radio label span {
    font-size: 4vw;
  }
  .register-form .input-group .date-select .custom-select select {
    font-size: 4vw;
  }
  .register-form .input-group .date-select .custom-select select option {
    font-size: 2.5vw;
  }
  .register-form .add-more-info button {
    font-size: 4vw;
  }
  .register-form .privacy-policy-group label {
    font-size: 3.75vw;
  }
  .register-form .submit button {
    font-size: 4.58vw;
  }
}

/*# sourceMappingURL=register.css.map */
