/* general */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;600;700&family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "TsukushiARoundGothic";
  src: url("../fonts/Tsukushi-A-Round-Gothic-Regular.ttf") format("truetype");
}
* {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #797271;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("../../images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

a:hover {
  cursor: pointer;
  opacity: 0.75;
}

.container-sm {
  max-width: 900px;
  padding: 0 20px;
  margin: 44px auto 120px;
}

.container-md {
  margin: 50px auto;
  padding: 0 40px;
  max-width: 1280px;
}

.container-lg {
  margin: 0 auto;
  padding: 160px 20px;
  max-width: 1500px;
}

.back-to-top {
  position: fixed;
  display: none;
  bottom: 50%;
  right: 40px;
  transform: translateY(50%);
  width: 90px;
  height: 90px;
  border-radius: 100px;
  z-index: 1000;
}

.back-to-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #797271;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.breadcrumb a,
.breadcrumb span {
  font-size: 16px;
}

.breadcrumb img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.button-view-more {
  text-align: end;
}
.button-view-more a {
  display: inline-flex;
  align-items: center;
  gap: 0 8px;
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-right: 20px;
}
.button-view-more img {
  width: 26px;
  height: 14px;
}

@media (max-width: 768px) {
  .container-sm {
    padding: 0 6vw;
  }
  .container-md {
    padding: 0 6vw;
  }
  .container-lg {
    padding: 20.833vw 6vw;
  }
  .back-to-top {
    right: 4vw;
    width: 11vw;
    height: 11vw;
  }
  .breadcrumb {
    gap: 0 2.083vw;
  }
  .breadcrumb a,
  .breadcrumb span {
    font-size: 2.083vw;
  }
  .breadcrumb img {
    width: 2.083vw;
    height: 2.083vw;
  }
  .button-view-more a {
    font-size: 3.125vw;
  }
  .button-view-more img {
    width: 3.385vw;
    height: 1.823vw;
  }
}
@media (max-width: 480px) {
  .container-sm {
    padding: 0 4vw;
  }
  .container-md {
    padding: 0 4vw;
  }
  .container-lg {
    padding: 25vw 4vw;
  }
  .back-to-top {
    right: 2vw;
    width: 18vw;
    height: 18vw;
  }
  .breadcrumb a,
  .breadcrumb span {
    font-size: 3vw;
  }
  .breadcrumb img {
    width: 3vw;
    height: 3vw;
  }
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  word-break: break-word;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}
a:hover {
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

img {
  max-width: 100%;
  border: none;
  height: auto;
}

main {
  display: block;
}

.height100 {
  height: 100%;
}

.image-fit {
  display: block;
  overflow: hidden;
}
.image-fit img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  line-height: 100%;
}

.list-inline {
  letter-spacing: -0.3em;
}
.list-inline .item-inline {
  letter-spacing: normal;
  vertical-align: top;
  display: inline-block;
}

.inline-middle .item-inline {
  vertical-align: middle;
}

.relative-section {
  position: relative;
}

.section-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.font900 {
  font-weight: 900;
}

.font800 {
  font-weight: 800;
}

.font700 {
  font-weight: 700;
}

.font600 {
  font-weight: 600;
}

.font500 {
  font-weight: 500;
}

.font400 {
  font-weight: 400;
}

.font300 {
  font-weight: 300;
}

.animated-delay2 {
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated-delay3 {
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated-delay4 {
  -webkit-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.animated-delay5 {
  -webkit-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.animated-delay6 {
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.list-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.flex-three .item-flex {
  width: 33.33%;
}

.flex-two .item-flex {
  width: 50%;
}

.flex-middle {
  align-items: center;
  -webkit-align-items: center;
}

:focus {
  outline: none !important;
}

.toogle-menu {
  border: 0 none;
  display: none;
  height: 23px;
  width: 28px;
  z-index: 999;
  cursor: pointer;
  outline: 0;
  float: right;
  background: none;
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
}
.toogle-menu span {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.toogle-menu span::after, .toogle-menu span::before {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  left: 0;
  content: "";
}
.toogle-menu span::after {
  transform: translateY(310%);
}
.toogle-menu span::before {
  transform: translateY(-310%);
}
.toogle-menu.exit span {
  background: transparent;
}
.toogle-menu.exit span::before {
  transform: translateY(0px) rotate(45deg);
}
.toogle-menu.exit span::after {
  transform: translateY(0px) rotate(-45deg);
}

.on-sp {
  display: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.header-logo {
  margin-left: 60px;
}
.header .menu {
  background-image: url("../images/Intersect.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 440px;
  height: 121px;
}
.header .menu-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 74px;
}
.header .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-weight: bold;
  background: transparent;
  border: none;
}
.header .menu-item img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.header .menu-item span {
  font-size: 16px;
  color: #fff;
}
.header .sub-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: #b2ce7c;
  transition: all 0.3s ease;
  transform: translateX(100%);
  padding: 20px;
  z-index: 10001;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .sub-menu.active {
  transform: translateX(0%);
}
.header .sub-menu ul li {
  margin-bottom: 60px;
}
.header .sub-menu ul li a {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}
.header .sub-menu-close {
  background: transparent;
  border: none;
  position: absolute;
  top: 25px;
  right: 25px;
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 2.086vw;
  }
  .header-logo {
    margin-left: 4vw;
    width: 38vw;
  }
  .header .menu {
    width: 55vw;
    height: 15vw;
  }
  .header .menu-main {
    margin: 3vw 10vw;
  }
  .header .menu-item {
    gap: 1.282vw;
  }
  .header .menu-item img {
    width: 5.208vw;
    height: 5.208vw;
  }
  .header .menu-item span {
    display: none;
  }
  .header .sub-menu {
    padding: 5.128vw;
  }
  .header .sub-menu ul li {
    margin-bottom: 7.823vw;
  }
  .header .sub-menu ul li a {
    font-size: 3.911vw;
  }
  .header .sub-menu-close {
    top: 5.208vw;
    right: 5.208vw;
  }
}
@media (max-width: 480px) {
  .header .menu-item img {
    width: 6vw;
    height: 6vw;
  }
  .header .sub-menu {
    width: 100vw;
  }
  .header .sub-menu ul li {
    margin-bottom: 15.385vw;
  }
  .header .sub-menu ul li a {
    font-size: 7.692vw;
  }
  .header .sub-menu-close {
    top: 6;
    right: 6;
  }
}
.footer {
  background-image: url("../images/footer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-main {
  max-width: 1485px;
  padding: 190px 20px 120px;
  margin: 0 auto;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0 86px;
}
.footer-info {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-logo {
  width: 100%;
}
.footer-social-icon {
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-top: 60px;
  margin-bottom: 10px;
  gap: 26px;
}
.footer-social-icon img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;
}
.footer-desc {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.footer .quicklinks {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 33px;
}
.footer .quicklinks ul:first-child li {
  margin-bottom: 32px;
}
.footer .quicklinks ul:nth-child(2) li a {
  position: relative;
  font-size: 18px;
  margin-left: 20px;
}
.footer .quicklinks ul:nth-child(2) li a span {
  font-size: 16px;
}
.footer .quicklinks ul:nth-child(2) li a img {
  position: absolute;
  top: 5px;
  left: -15px;
  width: 10px;
  height: 12px;
}
.footer .quicklinks ul:nth-child(2) li:first-child a {
  font-size: 24px;
  margin-left: 0;
}
.footer .quicklinks ul:last-child li a {
  font-size: 16px;
}
.footer .quicklinks ul li {
  margin-bottom: 16px;
}
.footer .quicklinks ul li a {
  font-size: 24px;
  font-weight: 700;
}
.footer .quicklinks ul li a span {
  font-size: 18px;
}
.footer-end {
  padding-bottom: 28px;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 1280px) {
  .footer-wrapper {
    gap: 60px;
  }
  .footer-info {
    max-width: 350px;
  }
}
@media (max-width: 1024px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer .quicklinks {
    max-width: 90%;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .footer-main {
    padding: 26.042vw 2.604vw 13.021vw;
    margin: 0 auto;
  }
  .footer-wrapper {
    gap: 6vw;
  }
  .footer-info {
    max-width: 46vw;
  }
  .footer-social-icon {
    margin-top: 5vw;
    margin-left: 4vw;
    margin-bottom: 1.5vw;
    gap: 0 3.906vw;
  }
  .footer-social-icon img {
    width: 4.167vw;
    height: 4.167vw;
  }
  .footer-desc {
    font-size: 2vw;
  }
  .footer .quicklinks {
    gap: 5vw;
  }
  .footer .quicklinks ul {
    flex: 1 1 30vw;
  }
  .footer .quicklinks ul:first-child li {
    margin-bottom: 4vw;
  }
  .footer .quicklinks ul:nth-child(2) li a {
    font-size: 2.344vw;
    margin-left: 2.604vw;
  }
  .footer .quicklinks ul:nth-child(2) li a span {
    font-size: 2.344vw;
  }
  .footer .quicklinks ul:nth-child(2) li a img {
    top: 0.5vw;
    left: -1.5vw;
    width: 1vw;
    height: 1.2vw;
  }
  .footer .quicklinks ul:nth-child(2) li:first-child a {
    font-size: 3.125vw;
    margin-left: 0;
  }
  .footer .quicklinks ul:last-child li {
    margin-bottom: 3vw;
  }
  .footer .quicklinks ul:last-child li a {
    font-size: 2.083vw;
  }
  .footer .quicklinks ul li {
    margin-bottom: 3.5vw;
  }
  .footer .quicklinks ul li a {
    font-size: 3.125vw;
  }
  .footer .quicklinks ul li a span {
    font-size: 2.083vw;
  }
  .footer-end {
    padding-bottom: 3.646vw;
    font-size: 2.083vw;
  }
}
@media (max-width: 480px) {
  .footer-desc {
    font-size: 2.5vw;
  }
  .footer .quicklinks {
    grid-template-columns: 1fr 1fr;
  }
  .footer .quicklinks ul:nth-child(2) li a {
    font-size: 3vw;
  }
  .footer .quicklinks ul:nth-child(2) li a img {
    top: 0.5vw;
    left: -1.5vw;
    width: 1vw;
    height: 1.2vw;
  }
  .footer .quicklinks ul:last-child li a {
    font-size: 3vw;
  }
  .footer .quicklinks ul li a span {
    font-size: 2.2vw;
  }
  .footer-end {
    font-size: 3vw;
  }
}
/* pages */
body {
  padding: 0;
  margin: 0;
  background-image: url("../images/bg1.png"), url("../images/bg.png");
  background-size: contain, cover;
  background-position: top center, top center;
  background-repeat: no-repeat, no-repeat;
}

.slider .slick-slide {
  display: block;
  overflow: hidden;
  opacity: 0.5;
  transition: all 900ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}
.slider .slick-slide img {
  width: 100%;
  object-fit: contain;
}
.slider .slick-center {
  opacity: 1;
  transform: scale(1);
}
.slider .slick-track {
  display: flex !important;
  align-items: center;
}
.slider-details {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
  background-color: #fff;
  border-radius: 40px;
  padding: 18px 0;
}
.slider-details-item {
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.slider-details img {
  width: 20px;
  height: 17px;
  object-fit: contain;
}
.slider-details p {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.slider-details p br {
  display: none;
}

.about {
  margin-top: 135px;
  margin-bottom: 217px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 198px;
  position: relative;
}
.about-img {
  max-width: 550px;
  position: absolute;
}
.about-img img {
  width: 100%;
  object-fit: contain;
}
.about-img-left {
  left: 0;
  bottom: 0;
}
.about-img-right {
  top: 100px;
  right: 0;
}
.about-main {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0;
}
.about-heading img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}
.about-heading h3 {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 21px;
}
.about-desc {
  text-align: center;
  margin-bottom: 85px;
}
.about-desc p {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 2;
}
.about-desc p:first-of-type {
  margin-bottom: 40px;
}
.about-view-more img {
  width: 240px;
  height: 124px;
}

.product {
  margin-bottom: 176px;
}
.product .baby-stroller {
  margin-bottom: 232px;
}
.product .baby-stroller .product-main {
  margin-top: 68px;
}
.product .lifestyle {
  margin-bottom: 230px;
}
.product .dryer {
  margin-bottom: 156px;
}
.product .dryer .product-item .item-content {
  margin-top: 30px;
}
.product .dryer .button-view-more a {
  font-size: 20px;
}
.product-main {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 111px;
}
.product-header {
  text-align: center;
  margin-bottom: 70px;
}
.product-header h2 {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.product-header p {
  font-size: 22px;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 80px;
  margin-bottom: 71px;
}
.product-list .product-item {
  display: flex;
  flex-direction: column;
  gap: 2px 0;
}
.product-list .product-item .item-image {
  width: 320px;
  height: 320px;
}
.product-list .product-item .item-content {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-list .product-item .item-content .status {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  background: #797271;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  padding: 2px 23px;
  border-radius: 2px;
  width: auto;
  max-width: fit-content;
}
.product-list .product-item .item-content .name {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 8px;
  line-height: 30px;
}
.product-list .product-item .item-content .name span {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
}
.product-list .product-item .item-content .desc {
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-list .product-item .item-content .rating {
  display: flex;
  align-items: center;
}
.product-list .product-item .item-content .rating img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.product-list .product-item .item-content .rating .count-star {
  font-size: 16px;
  text-decoration: underline;
}
.product-list .product-item .item-content .price {
  text-align: end;
}
.product-list .product-item .item-content .price span {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 500;
}
.product-list .product-item .item-content .price span small {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
.product-list .product-item .item-content .button-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 24px;
  margin-top: 40px;
  text-align: center;
  text-wrap: nowrap;
}
.product-list .product-item .item-content .button-action .learn-more {
  flex: 1;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.75;
  border: 2px solid #797271;
  border-radius: 40px;
  padding: 18.5px 62.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-list .product-item .item-content .button-action .add-cart {
  width: 72px;
  height: 72px;
}
.product-list .product-item-pro .item-content .name {
  font-size: 32px;
  line-height: 50px;
}
.product-list .product-item-pro .item-content .name span {
  font-size: 14px;
}
.product-list .product-item-pro .item-content .desc {
  margin-top: 0;
}
.product .view-more-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px 0;
}
.product .view-more-product h3 {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0;
}
.product .view-more-product img {
  width: 200px;
  height: 104px;
}

.group {
  position: relative;
}
.group-main {
  background-image: url("../images/bg.png");
  background-position: center;
  background-size: cover;
  border-radius: 100px 100px 0 0;
  z-index: 1;
  margin-top: -300px;
  position: relative;
}
.group-main .group-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 160px 20px 240px;
}
.group-main .blog {
  margin-bottom: 205px;
}
.group-main .blog-list {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 80px;
}
.group-main .blog-item {
  display: flex;
  flex-direction: column;
}
.group-main .blog-img img {
  display: block;
}
.group-main .blog-seasonal {
  margin-top: 26px;
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.group-main .blog-seasonal a {
  background-color: #fe9ba9;
  color: #fff;
  padding: 4px 12px;
  border-radius: 25px;
  font-size: 14px;
  text-align: center;
  text-wrap: nowrap;
}
.group-main .blog-desc {
  font-size: 20px;
  margin-top: 10px;
  line-height: 1.448;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group-main .news {
  margin-bottom: 212px;
}
.group-main .news .group-header {
  margin-bottom: 21px;
}
.group-main .news-list {
  margin-top: 35px;
}
.group-main .news-item {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  padding: 25px 56px;
  border-bottom: 1px solid #797271;
}
.group-main .news-item .created-at {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.group-main .news-item .title {
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 800px;
}
.group-main .contact-top {
  max-width: 830px;
  margin: 0 auto;
  padding: 0 15px;
}
.group-main .contact-offical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px 0;
  margin-bottom: 10px;
}
.group-main .contact-offical img {
  width: 120px;
  height: 120px;
}
.group-main .contact-offical h2 {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.group-main .contact-offical h2 span {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 24px;
}
.group-main .contact-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 116px;
}
.group-main .contact-social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group-main .contact-social-item h3 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 17px;
}
.group-main .contact-social-item h3 span {
  font-size: 24px;
}
.group-main .contact-bottom {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 32px 0;
}
.group-main .contact-bottom-banner {
  width: 100%;
  height: 138px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-main .contact-bottom-banner h3 {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 0;
}
.group-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 14px;
}
.group-header img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.group-header h2 {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 36px;
}
.group-header h2 span {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 24px;
}

@media (max-width: 1600px) {
  .about-img {
    max-width: 400px;
  }
}
@media (max-width: 1280px) {
  .slider-details {
    flex-direction: column;
    gap: 10px 0;
  }
  .about-img {
    max-width: 280px;
  }
  .group-main {
    margin-top: -150px;
  }
  .group-main {
    margin-top: -150px;
  }
  .group-main .blog-list {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 60px;
  }
}
@media (max-width: 991px) {
  .about-img {
    max-width: 180px;
  }
  .group-main {
    margin-top: -100px;
  }
  .group-main .blog-list {
    grid-template-columns: 1fr;
  }
  .group-main .blog-item {
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .group-main .blog-desc {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  .slider .container-md {
    margin-top: 3.129vw;
  }
  .slider-details {
    padding: 1.304vw 2.608vw;
    gap: 1vw;
  }
  .slider-details img {
    width: 2.608vw;
    height: 2.216vw;
  }
  .slider-details p {
    font-size: 2vw;
  }
  .about {
    margin-top: 17.601vw;
    margin-bottom: 26vw;
    padding-bottom: 20vw;
  }
  .about-img {
    max-width: 19.557vw;
  }
  .about-img-left {
    left: 0;
    bottom: 0;
  }
  .about-img-right {
    top: 13.038vw;
    right: 0;
  }
  .about-main {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-heading {
    gap: 2.086vw 0;
  }
  .about-heading img {
    width: 7.301vw;
    height: 7.301vw;
  }
  .about-heading h3 {
    font-size: 6vw;
    margin-bottom: 2.734vw;
  }
  .about-desc {
    margin-bottom: 13.038vw;
  }
  .about-desc p {
    font-size: 2.868vw;
  }
  .about-desc p:first-of-type {
    margin-bottom: 5.215vw;
  }
  .about-view-more img {
    width: 31.291vw;
    height: 16.167vw;
  }
  .product .baby-stroller {
    margin-bottom: 30vw;
  }
  .product .baby-stroller .product-main {
    margin-top: 11vw;
  }
  .product .lifestyle {
    margin-bottom: 31vw;
  }
  .product .dryer {
    margin-bottom: 22vw;
  }
  .product .dryer .button-view-more a {
    font-size: 3.125vw;
  }
  .product-main {
    padding: 0 4vw;
    margin-top: 16vw;
  }
  .product-header {
    margin-bottom: 9vw;
  }
  .product-header h2 {
    font-size: 6vw;
    margin-bottom: 2.083vw;
  }
  .product-header p {
    font-size: 2.86vw;
  }
  .product-list {
    grid-template-columns: 1fr;
    gap: 10vw;
    margin-bottom: 9vw;
  }
  .product-list .product-item {
    padding: 4vw 6vw;
    align-items: center;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    gap: 0 3vw;
  }
  .product-list .product-item .item-image {
    width: 41.667vw;
    height: 41.667vw;
  }
  .product-list .product-item .item-image img {
    display: block;
  }
  .product-list .product-item .item-content {
    margin-top: 1.563vw;
    width: 100%;
  }
  .product-list .product-item .item-content .status {
    font-size: 1.56vw;
    padding: 0.26vw 2.604vw;
  }
  .product-list .product-item .item-content .name {
    font-size: 3.13vw;
  }
  .product-list .product-item .item-content .name span {
    font-size: 2.08vw;
  }
  .product-list .product-item .item-content .desc {
    font-size: 2.08vw;
    margin: 1.042vw 0;
  }
  .product-list .product-item .item-content .rating img {
    width: 2.604vw;
    height: 2.604vw;
  }
  .product-list .product-item .item-content .rating .count-star {
    font-size: 2.08vw;
  }
  .product-list .product-item .item-content .price span {
    font-size: 4.69vw;
  }
  .product-list .product-item .item-content .price span small {
    font-size: 3.13vw;
  }
  .product-list .product-item .item-content .button-action {
    gap: 0 3.125vw;
    margin-top: 5.208vw;
  }
  .product-list .product-item .item-content .button-action .learn-more {
    font-size: 2.6vw;
    padding: 2vw;
  }
  .product-list .product-item .item-content .button-action .add-cart {
    width: 9.375vw;
    height: 9.375vw;
  }
  .product-list .product-item-pro .item-content .name {
    font-size: 4.17vw;
  }
  .product-list .product-item-pro .item-content .name span {
    font-size: 1.82vw;
  }
  .product .view-more-product {
    gap: 32px 0;
  }
  .product .view-more-product h3 {
    font-size: 4.69vw;
  }
  .product .view-more-product img {
    width: 26.042vw;
    height: 13.542vw;
  }
  .group {
    position: relative;
  }
  .group-main {
    border-radius: 13.021vw 13.021vw 0 0;
    margin-top: -15vw;
  }
  .group-main .group-container {
    padding: 13.021vw 2.604vw 26.042vw;
  }
  .group-main .blog {
    margin-bottom: 19.531vw;
  }
  .group-main .blog-list {
    margin-top: 3.125vw;
    gap: 10.417vw;
  }
  .group-main .blog-item {
    padding: 4vw 3vw;
  }
  .group-main .blog-img {
    padding: 0 4vw;
  }
  .group-main .blog-seasonal {
    margin-top: 4.167vw;
    margin-bottom: 1.563vw;
    gap: 0 2.083vw;
  }
  .group-main .blog-seasonal a {
    padding: 0.781vw 1.302vw;
    border-radius: 3.255vw;
    font-size: 1.82vw;
  }
  .group-main .blog-desc {
    font-size: 2.6vw;
    max-width: 90%;
  }
  .group-main .news {
    margin-bottom: 26.042vw;
  }
  .group-main .news .group-header {
    margin-bottom: 2.734vw;
  }
  .group-main .news-list {
    margin-top: 4.557vw;
  }
  .group-main .news-item {
    gap: 1.563vw 0;
    padding: 4.297vw 7.292vw;
  }
  .group-main .news-item .created-at {
    font-size: 2.6vw;
  }
  .group-main .news-item .title {
    font-size: 3.13vw;
  }
  .group-main .contact-top {
    padding: 0 2vw;
  }
  .group-main .contact-offical {
    gap: 2.083vw 0;
    margin-bottom: 4.167vw;
  }
  .group-main .contact-offical img {
    width: 15.625vw;
    height: 15.625vw;
  }
  .group-main .contact-offical h2 {
    font-size: 4.69vw;
  }
  .group-main .contact-offical h2 span {
    font-size: 3.13vw;
  }
  .group-main .contact-social {
    padding: 6vw;
  }
  .group-main .contact-social-item {
    gap: 1.563vw 0;
  }
  .group-main .contact-social-item h3 {
    font-size: 4.17vw;
    margin-bottom: 2.2vw;
  }
  .group-main .contact-social-item h3 span {
    font-size: 3.13vw;
  }
  .group-main .contact-social-item img {
    width: 17.146vw;
    height: 6.208vw;
  }
  .group-main .contact-bottom {
    margin-top: 10.417vw;
    gap: 4.167vw 0;
  }
  .group-main .contact-bottom-banner {
    height: 17.969vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .group-main .contact-bottom-banner h3 {
    font-size: 4.17vw;
  }
  .group-header {
    margin-bottom: 1.823vw;
  }
  .group-header img {
    width: 7.813vw;
    height: 7.813vw;
  }
  .group-header h2 {
    font-size: 4.69vw;
  }
  .group-header h2 span {
    font-size: 3.13vw;
  }
}
@media (max-width: 480px) {
  .slider-details p {
    font-size: 2.5vw;
  }
  .about-heading {
    gap: 2.086vw 0;
    margin-bottom: 5.215vw;
  }
  .about-desc {
    margin-bottom: 13.038vw;
  }
  .about-desc p {
    font-size: 3vw;
  }
  .product-list .product-item .item-content .status {
    font-size: 2vw;
    padding: 1vw 3vw;
  }
  .product-list .product-item .item-content .name {
    font-size: 5vw;
  }
  .product-list .product-item .item-content .name span {
    font-size: 3.33vw;
  }
  .product-list .product-item .item-content .desc {
    font-size: 3.33vw;
  }
  .product-list .product-item .item-content .rating img {
    width: 3.33vw;
    height: 3.33vw;
  }
  .product-list .product-item .item-content .rating .count-star {
    font-size: 3.33vw;
  }
  .product-list .product-item .item-content .price span {
    font-size: 6vw;
  }
  .product-list .product-item .item-content .price span small {
    font-size: 4vw;
  }
  .product-list .product-item .item-content .button-action {
    gap: 0 3.125vw;
    margin-top: 5.208vw;
  }
  .product-list .product-item .item-content .button-action .learn-more {
    font-size: 3.5vw;
  }
  .product-list .product-item .item-content .button-action .add-cart {
    width: 11vw;
    height: 11vw;
  }
  .product .view-more-product {
    gap: 32px 0;
  }
  .product .view-more-product img {
    width: 30vw;
    height: 15vw;
  }
  .group-main .blog-seasonal a {
    padding: 1vw 3vw;
    font-size: 2.92vw;
  }
  .group-main .blog-desc {
    font-size: 3vw;
  }
  .group-main .contact-bottom {
    margin-top: 6vw;
  }
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  accent-color: #797271;
}

.register-header {
  text-align: center;
}
.register-heading {
  font-size: 32px;
  font-weight: 700;
}
.register-desc {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 80px;
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
.register-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.register-form .input-group label {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.register-form .input-group label .required {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  background-color: #797271;
  padding: 2px 12px 3px 12px;
  border-radius: 2px;
  color: #fff;
}
.register-form .input-group label small {
  font-size: 12px;
  font-weight: 500;
}
.register-form .input-group input {
  width: 100%;
  border: 1px solid #797271;
  border-radius: 40px;
  padding: 20px 28px;
  font-size: 24px;
  font-weight: 300;
  background: #fff;
}
.register-form .input-group input[type=radio] {
  width: 24px;
  height: 24px;
}
.register-form .input-group .input-md {
  width: 60%;
}
.register-form .input-group .input-md button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  padding-right: 24px;
  outline: none;
  border: none;
}
.register-form .input-group .input-md button img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.register-form .input-group .input-password {
  position: relative;
}
.register-form .input-group .input-radio {
  display: flex;
  align-items: center;
  gap: 0 40px;
  padding: 23px 0;
}
.register-form .input-group .input-radio label {
  display: flex;
  align-items: center;
  gap: 0 5.5px;
}
.register-form .input-group .input-radio label span {
  font-size: 24px;
}
.register-form .input-group .date-select {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.register-form .input-group .date-select .custom-select {
  width: 100%;
  position: relative;
}
.register-form .input-group .date-select .custom-select select {
  border: 1px solid #797271;
  border-radius: 40px;
  padding: 23px;
  font-size: 24px;
  font-weight: 300;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.register-form .input-group .date-select .custom-select select option {
  font-size: 24px;
}
.register-form .input-group .date-select .custom-select .custom-arrow {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #797271;
}
.register-form .input-group .date-select .custom-select .custom-arrow img {
  height: 32px;
  width: 32px;
  object-fit: contain;
}
.register-form .add-more-info button {
  display: block;
  border: 1px solid #797271;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 20px;
  background: #fff;
}
.register-form .privacy-policy-group {
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.register-form .privacy-policy-group input {
  width: 24px;
  height: 24px;
  border: 2px solid #797271;
}
.register-form .privacy-policy-group label {
  font-size: 20px;
  font-weight: 500;
}
.register-form .privacy-policy-group label .text-blue {
  color: #1d96d6;
  margin-right: 12px;
  text-decoration: underline;
}
.register-form .submit {
  text-align: center;
  margin-top: 160px;
}
.register-form .submit button {
  display: inline-block;
  border-radius: 100px;
  padding: 15px 132px;
  background-color: #b2ce7c;
  color: #fff;
  font-size: 24px;
  border: none;
}

@media (max-width: 768px) {
  .register-heading {
    font-size: 4.167vw;
  }
  .register-desc {
    margin-top: 2.604vw;
    margin-bottom: 10.417vw;
    font-size: 2.604vw;
  }
  .register-form {
    gap: 5.208vw 0;
  }
  .register-form .input-group {
    gap: 2.083vw 0;
  }
  .register-form .input-group label {
    font-size: 3.125vw;
    gap: 0 2.083vw;
  }
  .register-form .input-group label .required {
    font-size: 2.083vw;
    padding: 0.26vw 1.563vw 0.391vw 1.563vw;
    border-radius: 0.26vw;
  }
  .register-form .input-group label small {
    font-size: 1.563vw;
  }
  .register-form .input-group input {
    border-radius: 5.208vw;
    padding: 2.604vw 3.646vw;
    font-size: 3.125vw;
  }
  .register-form .input-group input[type=radio] {
    width: 3.125vw;
    height: 3.125vw;
  }
  .register-form .input-group .input-md button {
    padding-right: 3.125vw;
  }
  .register-form .input-group .input-md button img {
    width: 4.167vw;
    height: 4.167vw;
  }
  .register-form .input-group .input-radio {
    gap: 0 5.208vw;
    padding: 2.995vw 0;
  }
  .register-form .input-group .input-radio label {
    gap: 0 0.716vw;
  }
  .register-form .input-group .input-radio label span {
    font-size: 3.125vw;
  }
  .register-form .input-group .date-select {
    gap: 0 2.604vw;
  }
  .register-form .input-group .date-select .custom-select select {
    border-radius: 5.208vw;
    padding: 2.995vw;
    font-size: 3.125vw;
  }
  .register-form .input-group .date-select .custom-select select option {
    font-size: 2vw;
  }
  .register-form .input-group .date-select .custom-select .custom-arrow {
    right: 3.125vw;
  }
  .register-form .input-group .date-select .custom-select .custom-arrow img {
    height: 4.167vw;
    width: 4.167vw;
  }
  .register-form .add-more-info button {
    border-radius: 1.302vw;
    padding: 1.823vw 2.604vw;
    font-size: 2.083vw;
  }
  .register-form .privacy-policy-group {
    gap: 0 0.651vw;
  }
  .register-form .privacy-policy-group input {
    width: 3.125vw;
    height: 3.125vw;
  }
  .register-form .privacy-policy-group label {
    font-size: 2.604vw;
  }
  .register-form .privacy-policy-group label .text-blue {
    margin-right: 1.563vw;
  }
  .register-form .submit {
    margin-top: 20.833vw;
  }
  .register-form .submit button {
    border-radius: 13.021vw;
    padding: 1.953vw 17.188vw;
    font-size: 3.125vw;
  }
}
@media (max-width: 480px) {
  .register-heading {
    font-size: 6.25vw;
  }
  .register-desc {
    font-size: 3.75vw;
  }
  .register-form .input-group label {
    font-size: 4.58vw;
  }
  .register-form .input-group label .required {
    font-size: 2.92vw;
  }
  .register-form .input-group label small {
    font-size: 2.5vw;
  }
  .register-form .input-group input {
    border-radius: 5.208vw;
    padding: 2.604vw 3.646vw;
    font-size: 4.58vw;
  }
  .register-form .input-group input[type=radio] {
    width: 3.125vw;
    height: 3.125vw;
  }
  .register-form .input-group .input-md {
    width: 100%;
  }
  .register-form .input-group .input-radio label span {
    font-size: 4vw;
  }
  .register-form .input-group .date-select .custom-select select {
    font-size: 4vw;
  }
  .register-form .input-group .date-select .custom-select select option {
    font-size: 2.5vw;
  }
  .register-form .add-more-info button {
    font-size: 4vw;
  }
  .register-form .privacy-policy-group label {
    font-size: 3.75vw;
  }
  .register-form .submit button {
    font-size: 4.58vw;
  }
}
.post .container-md {
  margin-top: 34px;
}
.post-content {
  margin-top: 30px;
}
.post-content h3 {
  text-align: center;
  margin: 90px 0;
  font-size: 36px;
  font-weight: 500;
}
.post-content h3:first-of-type {
  margin-bottom: 20px;
}
.post-content h3:nth-of-type(2) {
  margin-top: 20px;
}
.post-content p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.info .container-lg {
  padding-top: 0;
  padding-bottom: 200px;
}
.info-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
.info-details {
  flex: 1 1 60%;
}
.info-title {
  font-size: 36px;
  font-weight: 500;
}
.info-list {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 20px;
  font-weight: 500;
}
.info-image {
  flex: 1 1 30%;
}

@media (max-width: 1024px) {
  .info-main {
    flex-direction: column;
    gap: 80px 0;
  }
  .info-details {
    width: 100%;
  }
  .info-image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .post .container-md {
    margin-top: 4.427vw;
  }
  .post-content {
    margin-top: 3.906vw;
  }
  .post-content h3 {
    margin: 9vw 0;
    font-size: 4.69vw;
  }
  .post-content h3:first-of-type {
    margin-bottom: 2.604vw;
  }
  .post-content h3:nth-of-type(2) {
    margin-top: 2.604vw;
  }
  .post-content p {
    font-size: 2.6vw;
    margin-bottom: 5.208vw;
  }
  .info .container-lg {
    padding-bottom: 15vw;
  }
  .info-main {
    gap: 8vw;
  }
  .info-title {
    font-size: 4.69vw;
  }
  .info-list {
    margin-top: 9.115vw;
    gap: 5.208vw;
  }
  .info-item {
    font-size: 2.604vw;
  }
  .info-image {
    width: 50vw;
  }
}
@media (max-width: 480px) {
  .post-content h3 {
    font-size: 6vw;
  }
  .post-content p {
    font-size: 3.75vw;
  }
  .info-title {
    font-size: 7vw;
  }
  .info-item {
    font-size: 3.75vw;
  }
  .info-image {
    width: 60vw;
  }
}

/*# sourceMappingURL=main.css.map */
