/* general */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&family=Roboto:wght@500&family=Inter:wght@500&display=swap");
@font-face {
  font-family: "TsukushiARoundGothic";
  src: url("../fonts/Tsukushi-A-Round-Gothic-Regular.ttf") format("truetype");
}
* {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #797271;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

a:hover {
  cursor: pointer;
  opacity: 0.75;
}

.back-to-top {
  position: fixed;
  display: none;
  bottom: 50%;
  right: 40px;
  transform: translateY(50%);
  width: 90px;
  height: 90px;
  border-radius: 100px;
  z-index: 1000;
}

.back-to-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #797271;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin-bottom: 32px;
}

.breadcrumb a,
.breadcrumb span {
  font-size: 16px;
}

.breadcrumb img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.button-view-more {
  text-align: end;
}
.button-view-more a {
  display: inline-flex;
  align-items: center;
  gap: 0 8px;
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.button-view-more img {
  width: 26px;
  height: 14px;
}

@media (max-width: 768px) {
  .back-to-top {
    right: 4vw;
    width: 11vw;
    height: 11vw;
  }
  .breadcrumb {
    gap: 0 2.083vw;
    margin-bottom: 4.071vw;
  }
  .breadcrumb a,
  .breadcrumb span {
    font-size: 2.083vw;
  }
  .breadcrumb img {
    width: 2.083vw;
    height: 2.083vw;
  }
  .button-view-more a {
    font-size: 3.125vw;
  }
  .button-view-more img {
    width: 3.385vw;
    height: 1.823vw;
  }
}
@media (max-width: 480px) {
  .back-to-top {
    right: 2vw;
    width: 15vw;
    height: 15vw;
  }
  .breadcrumb a,
  .breadcrumb span {
    font-size: 3vw;
  }
  .breadcrumb img {
    width: 3vw;
    height: 3vw;
  }
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  word-break: break-word;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

a {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
}
a:hover {
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

img {
  max-width: 100%;
  border: none;
  height: auto;
}

main {
  display: block;
}

.height100 {
  height: 100%;
}

.image-fit {
  display: block;
  overflow: hidden;
}
.image-fit img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  line-height: 100%;
}

.list-inline {
  letter-spacing: -0.3em;
}
.list-inline .item-inline {
  letter-spacing: normal;
  vertical-align: top;
  display: inline-block;
}

.inline-middle .item-inline {
  vertical-align: middle;
}

.relative-section {
  position: relative;
}

.section-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.font900 {
  font-weight: 900;
}

.font800 {
  font-weight: 800;
}

.font700 {
  font-weight: 700;
}

.font600 {
  font-weight: 600;
}

.font500 {
  font-weight: 500;
}

.font400 {
  font-weight: 400;
}

.font300 {
  font-weight: 300;
}

.animated-delay2 {
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated-delay3 {
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated-delay4 {
  -webkit-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.animated-delay5 {
  -webkit-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.animated-delay6 {
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.list-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.flex-three .item-flex {
  width: 33.33%;
}

.flex-two .item-flex {
  width: 50%;
}

.flex-middle {
  align-items: center;
  -webkit-align-items: center;
}

:focus {
  outline: none !important;
}

.toogle-menu {
  border: 0 none;
  display: none;
  height: 23px;
  width: 28px;
  z-index: 999;
  cursor: pointer;
  outline: 0;
  float: right;
  background: none;
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
}
.toogle-menu span {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.toogle-menu span::after, .toogle-menu span::before {
  font-size: 0;
  height: 3px;
  width: 100%;
  background: #000;
  position: absolute;
  left: 0;
  content: "";
}
.toogle-menu span::after {
  transform: translateY(310%);
}
.toogle-menu span::before {
  transform: translateY(-310%);
}
.toogle-menu.exit span {
  background: transparent;
}
.toogle-menu.exit span::before {
  transform: translateY(0px) rotate(45deg);
}
.toogle-menu.exit span::after {
  transform: translateY(0px) rotate(-45deg);
}

.on-sp {
  display: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.header-logo {
  margin-left: 60px;
}
.header .menu {
  background-image: url("../images/Intersect.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 440px;
  height: 121px;
}
.header .menu-main {
  display: flex;
  align-items: center;
  gap: 0 56px;
  margin: 15px 74px;
}
.header .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-weight: bold;
  background: transparent;
  border: none;
  text-align: center;
  text-wrap: nowrap;
}
.header .menu-item img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.header .menu-item span {
  font-size: 16px;
  color: #fff;
}
.header .sub-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: #b2ce7c;
  transition: all 0.3s ease;
  transform: translateX(100%);
  padding: 20px;
  z-index: 10001;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .sub-menu.active {
  transform: translateX(0%);
}
.header .sub-menu ul li {
  margin-bottom: 60px;
}
.header .sub-menu ul li a {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}
.header .sub-menu-close {
  background: transparent;
  border: none;
  position: absolute;
  top: 25px;
  right: 25px;
}

@media (max-width: 991px) {
  .header .menu {
    width: 400px;
    height: 110px;
  }
}
@media (max-width: 768px) {
  .header {
    padding-bottom: 2.086vw;
  }
  .header-logo {
    margin-left: 4vw;
    width: 38vw;
  }
  .header .menu {
    width: 55vw;
    height: 15vw;
  }
  .header .menu-main {
    margin: 3vw 10vw;
    justify-content: space-between;
    gap: 0;
  }
  .header .menu-item {
    gap: 1.282vw;
  }
  .header .menu-item img {
    width: 5.208vw;
    height: 5.208vw;
  }
  .header .menu-item span {
    display: none;
  }
  .header .sub-menu {
    padding: 5.128vw;
  }
  .header .sub-menu ul li {
    margin-bottom: 7.823vw;
  }
  .header .sub-menu ul li a {
    font-size: 3.911vw;
  }
  .header .sub-menu-close {
    top: 5.208vw;
    right: 5.208vw;
  }
}
@media (max-width: 480px) {
  .header .menu-item img {
    width: 6vw;
    height: 6vw;
  }
  .header .sub-menu {
    width: 100vw;
  }
  .header .sub-menu ul li {
    margin-bottom: 12vw;
  }
  .header .sub-menu ul li a {
    font-size: 6vw;
  }
}
.footer {
  background-image: url("../images/footer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-main {
  max-width: 1485px;
  padding: 190px 20px 120px;
  margin: 0 auto;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0 86px;
}
.footer-info {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer-logo {
  width: 100%;
}
.footer-social-icon {
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-top: 60px;
  margin-bottom: 10px;
  gap: 26px;
}
.footer-social-icon img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;
}
.footer-desc {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.footer .quicklinks {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 33px;
}
.footer .quicklinks ul:first-child li {
  margin-bottom: 32px;
}
.footer .quicklinks ul:nth-child(2) li a {
  position: relative;
  font-size: 18px;
  margin-left: 20px;
}
.footer .quicklinks ul:nth-child(2) li a span {
  font-size: 16px;
}
.footer .quicklinks ul:nth-child(2) li a img {
  position: absolute;
  top: 5px;
  left: -15px;
  width: 10px;
  height: 12px;
}
.footer .quicklinks ul:nth-child(2) li:first-child a {
  font-size: 24px;
  margin-left: 0;
}
.footer .quicklinks ul:last-child li a {
  font-size: 16px;
}
.footer .quicklinks ul li {
  margin-bottom: 16px;
}
.footer .quicklinks ul li a {
  font-size: 24px;
  font-weight: 700;
}
.footer .quicklinks ul li a span {
  font-size: 18px;
}
.footer-end {
  padding-bottom: 28px;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 1280px) {
  .footer-wrapper {
    gap: 60px;
  }
  .footer-info {
    max-width: 350px;
  }
}
@media (max-width: 1024px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer .quicklinks {
    max-width: 90%;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .footer-main {
    padding: 26.042vw 2.604vw 13.021vw;
    margin: 0 auto;
  }
  .footer-wrapper {
    gap: 6vw;
  }
  .footer-info {
    max-width: 46vw;
  }
  .footer-social-icon {
    margin-top: 5vw;
    margin-left: 4vw;
    margin-bottom: 1.5vw;
    gap: 0 3.906vw;
  }
  .footer-social-icon img {
    width: 4.167vw;
    height: 4.167vw;
  }
  .footer-desc {
    font-size: 2vw;
  }
  .footer .quicklinks {
    gap: 5vw;
  }
  .footer .quicklinks ul {
    flex: 1 1 30vw;
  }
  .footer .quicklinks ul:first-child li {
    margin-bottom: 4vw;
  }
  .footer .quicklinks ul:nth-child(2) li a {
    font-size: 2.344vw;
    margin-left: 2.604vw;
  }
  .footer .quicklinks ul:nth-child(2) li a span {
    font-size: 2.344vw;
  }
  .footer .quicklinks ul:nth-child(2) li a img {
    top: 0.5vw;
    left: -1.5vw;
    width: 1vw;
    height: 1.2vw;
  }
  .footer .quicklinks ul:nth-child(2) li:first-child a {
    font-size: 3.125vw;
    margin-left: 0;
  }
  .footer .quicklinks ul:last-child li {
    margin-bottom: 3vw;
  }
  .footer .quicklinks ul:last-child li a {
    font-size: 2.083vw;
  }
  .footer .quicklinks ul li {
    margin-bottom: 3.5vw;
  }
  .footer .quicklinks ul li a {
    font-size: 3.125vw;
  }
  .footer .quicklinks ul li a span {
    font-size: 2.083vw;
  }
  .footer-end {
    padding-bottom: 3.646vw;
    font-size: 2.083vw;
  }
}
@media (max-width: 480px) {
  .footer-desc {
    font-size: 2.5vw;
  }
  .footer .quicklinks {
    grid-template-columns: 1fr 1fr;
  }
  .footer .quicklinks ul:nth-child(2) li a {
    font-size: 3vw;
  }
  .footer .quicklinks ul:nth-child(2) li a img {
    top: 0;
    left: -2.5vw;
    width: 2vw;
    height: 2.2vw;
  }
  .footer .quicklinks ul:last-child li a {
    font-size: 3vw;
  }
  .footer .quicklinks ul li a span {
    font-size: 2.2vw;
  }
  .footer-end {
    font-size: 3vw;
  }
}
/* pages */
.home-wrapper {
  padding: 0;
  margin: 0;
  background-image: url("../images/bg1.png"), url("../images/bg.png");
  background-size: contain, cover;
  background-position: top center, top center;
  background-repeat: no-repeat, no-repeat;
}
.home-slider .slick-slide {
  display: block;
  overflow: hidden;
  opacity: 0.5;
  transition: all 900ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}
.home-slider .slick-slide img {
  width: 100%;
  object-fit: contain;
}
.home-slider .slick-center {
  opacity: 1;
  transform: scale(1);
}
.home-slider .slick-track {
  display: flex !important;
  align-items: center;
}
.home-slider-details {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
  background-color: #fff;
  border-radius: 40px;
  padding: 18px 0;
}
.home-slider-details-item {
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.home-slider-details img {
  width: 20px;
  height: 17px;
  object-fit: contain;
}
.home-slider-details p {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.home-slider-details p br {
  display: none;
}
.home-about {
  margin-top: 135px;
  margin-bottom: 212px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 198px;
  position: relative;
}
.home-about-img {
  max-width: 550px;
  position: absolute;
}
.home-about-img img {
  width: 100%;
  object-fit: contain;
}
.home-about-img-left {
  left: 0;
  bottom: 0;
}
.home-about-img-right {
  top: 100px;
  right: 0;
}
.home-about-main {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-about-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0;
}
.home-about-heading img {
  width: 56px;
  height: 56px;
  object-fit: contain;
}
.home-about-heading h3 {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 21px;
}
.home-about-desc {
  text-align: center;
  margin-bottom: 85px;
}
.home-about-desc p {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 2;
}
.home-about-desc p:first-of-type {
  margin-bottom: 40px;
}
.home-about-view-more img {
  width: 240px;
  height: 124px;
}
.home-product {
  margin-bottom: 176px;
}
.home-product .baby-stroller {
  margin-bottom: 232px;
}
.home-product .baby-stroller .home-product-main {
  margin-top: 68px;
}
.home-product .lifestyle {
  margin-bottom: 230px;
}
.home-product .dryer {
  margin-bottom: 156px;
}
.home-product .dryer .home-product-content {
  margin-top: 30px;
}
.home-product .dryer .button-view-more a {
  font-size: 20px;
}
.home-product-main {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 111px;
}
.home-product-header {
  text-align: center;
  margin-bottom: 70px;
}
.home-product-header h2 {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.home-product-header p {
  font-size: 22px;
}
.home-product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(321px, 1fr));
  gap: 92px;
  margin-bottom: 71px;
}
.home-product-item {
  display: flex;
  flex-direction: column;
  gap: 2px 0;
}
.home-product-item-pro .home-product-name {
  font-size: 32px;
  line-height: 50px;
}
.home-product-item-pro .home-product-name span {
  font-size: 14px;
}
.home-product-item-pro .home-product-desc {
  margin-top: 0;
}
.home-product-item .button-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 24px;
  margin-top: 35px;
  text-align: center;
  text-wrap: nowrap;
}
.home-product-item .button-action .learn-more {
  flex: 1;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.75;
  border: 2px solid #797271;
  border-radius: 40px;
  padding: 18.5px 62.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-product-item .button-action .add-cart {
  width: 72px;
  height: 72px;
  display: block;
}
.home-product-image {
  width: 320px;
  height: 320px;
}
.home-product-image a {
  display: inline-block;
}
.home-product-content {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-product-status {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  background: #797271;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  padding: 2px 23px;
  border-radius: 2px;
  width: auto;
  max-width: fit-content;
}
.home-product-name {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 8px;
  line-height: 30px;
}
.home-product-name span {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
}
.home-product-desc {
  font-size: 16px;
  margin-top: 18px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.6px;
}
.home-product-rating {
  display: flex;
  align-items: center;
  margin-left: 2px;
  margin-bottom: 9px;
}
.home-product-rating img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.home-product-rating .count-star {
  font-size: 16px;
  text-decoration: underline;
}
.home-product-price {
  text-align: end;
  padding-right: 36px;
}
.home-product-price span {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 500;
}
.home-product-price span small {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
.home-product .view-more-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px 0;
}
.home-product .view-more-product h3 {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 0;
}
.home-product .view-more-product img {
  width: 200px;
  height: 104px;
}
.home-group {
  position: relative;
}
.home-group-main {
  background-image: url("../images/bg.png");
  background-position: center;
  background-size: cover;
  border-radius: 100px 100px 0 0;
  z-index: 1;
  margin-top: -300px;
  position: relative;
}
.home-group-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 160px 20px 240px;
}
.home-group-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 14px;
}
.home-group-header img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.home-group-header h2 {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 36px;
}
.home-group-header h2 span {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 24px;
}
.home-blog {
  margin-bottom: 205px;
}
.home-blog-list {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  gap: 80px;
}
.home-blog-item {
  display: flex;
  flex-direction: column;
}
.home-blog-img a {
  display: inline-block;
}
.home-blog-seasonal {
  margin-top: 26px;
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.home-blog-seasonal a {
  background-color: #fe9ba9;
  color: #fff;
  padding: 4px 12px;
  border-radius: 25px;
  font-size: 14px;
  text-align: center;
  text-wrap: nowrap;
}
.home-blog-desc {
  font-size: 20px;
  margin-top: 10px;
  line-height: 1.448;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.6px;
}
.home-news {
  margin-bottom: 212px;
}
.home-news .home-group-header {
  margin-bottom: 21px;
}
.home-news-list {
  margin-top: 35px;
}
.home-news-item {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  padding: 25px 56px;
  border-bottom: 1px solid #797271;
}
.home-news-item .created-at {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.home-news-item .title {
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 800px;
}
.home-contact-top {
  max-width: 830px;
  margin: 0 auto;
  padding: 0 15px;
}
.home-contact-offical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px 0;
  margin-bottom: 10px;
}
.home-contact-offical img {
  width: 120px;
  height: 120px;
}
.home-contact-offical h2 {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.home-contact-offical h2 span {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 24px;
}
.home-contact-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 116px;
}
.home-contact-social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-contact-social-item h3 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 17px;
}
.home-contact-social-item h3 span {
  font-size: 24px;
}
.home-contact-bottom {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 32px 0;
}
.home-contact-bottom-banner {
  width: 100%;
  height: 138px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-contact-bottom-banner h3 {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 0;
}

@media (max-width: 1600px) {
  .home-about-img {
    max-width: 400px;
  }
}
@media (max-width: 1280px) {
  .home-slider-details {
    flex-direction: column;
    gap: 10px 0;
  }
  .home-about-img {
    max-width: 280px;
  }
  .home-group-main {
    margin-top: -150px;
  }
  .home-blog-list {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 60px;
  }
}
@media (max-width: 991px) {
  .home-about-img {
    max-width: 180px;
  }
  .home-group-main {
    margin-top: -100px;
  }
  .home-blog-list {
    grid-template-columns: 1fr;
  }
  .home-blog-item {
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .home-blog-desc {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  .home-slider-details {
    padding: 1.304vw 2.608vw;
    gap: 1vw;
    margin: 2.604vw;
  }
  .home-slider-details img {
    width: 2.608vw;
    height: 2.216vw;
  }
  .home-slider-details p {
    font-size: 2vw;
  }
  .home-about {
    margin-top: 17.601vw;
    margin-bottom: 26vw;
    padding-bottom: 20vw;
  }
  .home-about-img {
    max-width: 19.557vw;
  }
  .home-about-img-left {
    left: 0;
    bottom: 0;
  }
  .home-about-img-right {
    top: 13.038vw;
    right: 0;
  }
  .home-about-heading {
    gap: 2.086vw 0;
  }
  .home-about-heading img {
    width: 7.301vw;
    height: 7.301vw;
  }
  .home-about-heading h3 {
    font-size: 6vw;
    margin-bottom: 2.734vw;
  }
  .home-about-desc {
    margin-bottom: 13.038vw;
  }
  .home-about-desc p {
    font-size: 2.868vw;
  }
  .home-about-desc p:first-of-type {
    margin-bottom: 5.215vw;
  }
  .home-about-view-more img {
    width: 31.291vw;
    height: 16.167vw;
  }
  .home-product .baby-stroller {
    margin-bottom: 30vw;
  }
  .home-product .baby-stroller .home-product-main {
    margin-top: 11vw;
  }
  .home-product .lifestyle {
    margin-bottom: 31vw;
  }
  .home-product .dryer {
    margin-bottom: 22vw;
  }
  .home-product .dryer .home-product-content {
    margin-top: 3.906vw;
  }
  .home-product .dryer .button-view-more a {
    font-size: 3.125vw;
  }
  .home-product-main {
    padding: 0 4vw;
    margin-top: 16vw;
  }
  .home-product-header {
    margin-bottom: 9vw;
  }
  .home-product-header h2 {
    font-size: 6vw;
    margin-bottom: 2.083vw;
  }
  .home-product-header p {
    font-size: 2.86vw;
  }
  .home-product-list {
    grid-template-columns: 1fr;
    gap: 10vw;
    margin-bottom: 9vw;
  }
  .home-product-item {
    padding: 4vw 6vw;
    align-items: center;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    gap: 0 3vw;
  }
  .home-product-item-pro .home-product-name {
    font-size: 4.17vw;
    line-height: 6.51vw;
  }
  .home-product-item-pro .home-product-name span {
    font-size: 1.82vw;
  }
  .home-product-item-pro .home-product-desc {
    margin-top: 0;
  }
  .home-product-item .button-action {
    gap: 0 3.125vw;
    margin-top: 5.208vw;
  }
  .home-product-item .button-action .learn-more {
    font-size: 2.6vw;
    padding: 2vw;
  }
  .home-product-item .button-action .add-cart {
    width: 9.375vw;
    height: 9.375vw;
  }
  .home-product-image {
    width: 41.667vw;
    height: 41.667vw;
  }
  .home-product-content {
    margin-top: 1.563vw;
    width: 100%;
  }
  .home-product-status {
    font-size: 1.56vw;
    padding: 0.26vw 2.604vw;
  }
  .home-product-name {
    font-size: 3.13vw;
  }
  .home-product-name span {
    font-size: 2.08vw;
  }
  .home-product-desc {
    font-size: 2.08vw;
    margin: 1.042vw 0;
  }
  .home-product-rating {
    margin-left: 0.26vw;
    margin-bottom: 1.172vw;
  }
  .home-product-rating img {
    width: 2.604vw;
    height: 2.604vw;
  }
  .home-product-rating .count-star {
    font-size: 2.08vw;
  }
  .home-product-price {
    padding-right: 4.688vw;
  }
  .home-product-price span {
    font-size: 4.69vw;
  }
  .home-product-price span small {
    font-size: 3.13vw;
  }
  .home-product .view-more-product {
    gap: 32px 0;
  }
  .home-product .view-more-product h3 {
    font-size: 4.69vw;
  }
  .home-product .view-more-product img {
    width: 26.042vw;
    height: 13.542vw;
  }
  .home-group-main {
    border-radius: 13.021vw 13.021vw 0 0;
    margin-top: -15vw;
  }
  .home-group-container {
    padding: 13.021vw 2.604vw 26.042vw;
  }
  .home-group-header {
    margin-bottom: 1.823vw;
  }
  .home-group-header img {
    width: 7.813vw;
    height: 7.813vw;
  }
  .home-group-header h2 {
    font-size: 4.69vw;
  }
  .home-group-header h2 span {
    font-size: 3.13vw;
  }
  .home-blog {
    margin-bottom: 19.531vw;
  }
  .home-blog-list {
    margin-top: 3.125vw;
    gap: 10.417vw;
  }
  .home-blog-item {
    padding: 4vw 3vw;
  }
  .home-blog-img {
    padding: 0 4vw;
  }
  .home-blog-seasonal {
    margin-top: 4.167vw;
    margin-bottom: 1.563vw;
    gap: 0 2.083vw;
  }
  .home-blog-seasonal a {
    padding: 1vw 3vw;
    border-radius: 3.255vw;
    font-size: 1.82vw;
  }
  .home-blog-desc {
    font-size: 2.6vw;
    max-width: 90%;
  }
  .home-news {
    margin-bottom: 26.042vw;
  }
  .home-news .home-group-header {
    margin-bottom: 2.734vw;
  }
  .home-news-list {
    margin-top: 4.557vw;
  }
  .home-news-item {
    gap: 1.563vw 0;
    padding: 4.297vw 7.292vw;
  }
  .home-news-item .created-at {
    font-size: 2.6vw;
  }
  .home-news-item .title {
    font-size: 3.13vw;
    white-space: wrap;
  }
  .home-contact-top {
    padding: 0 2vw;
  }
  .home-contact-offical {
    gap: 2.083vw 0;
    margin-bottom: 4.167vw;
  }
  .home-contact-offical img {
    width: 15.625vw;
    height: 15.625vw;
  }
  .home-contact-offical h2 {
    font-size: 4.69vw;
  }
  .home-contact-offical h2 span {
    font-size: 3.13vw;
  }
  .home-contact-social {
    padding: 6vw;
  }
  .home-contact-social-item {
    gap: 1.563vw 0;
  }
  .home-contact-social-item h3 {
    font-size: 4.17vw;
    margin-bottom: 2.2vw;
  }
  .home-contact-social-item h3 span {
    font-size: 3.13vw;
  }
  .home-contact-social-item img {
    width: 17.146vw;
    height: 6.208vw;
  }
  .home-contact-bottom {
    margin-top: 10.417vw;
    gap: 4.167vw 0;
  }
  .home-contact-bottom-banner {
    height: 17.969vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .home-contact-bottom-banner h3 {
    font-size: 4.17vw;
  }
}
@media (max-width: 480px) {
  .home-slider-details p {
    font-size: 2.5vw;
  }
  .home-about-heading {
    gap: 2.086vw 0;
    margin-bottom: 5.215vw;
  }
  .home-about-desc {
    margin-bottom: 13.038vw;
  }
  .home-about-desc p {
    font-size: 3vw;
  }
  .home-product-status {
    font-size: 2vw;
    padding: 1vw 3vw;
  }
  .home-product-name {
    font-size: 5vw;
  }
  .home-product-name span {
    font-size: 3.33vw;
  }
  .home-product-desc {
    font-size: 3.33vw;
  }
  .home-product-rating img {
    width: 3.33vw;
    height: 3.33vw;
  }
  .home-product-rating .count-star {
    font-size: 3.33vw;
  }
  .home-product-price span {
    font-size: 6vw;
  }
  .home-product-price span small {
    font-size: 4vw;
  }
  .home-product-list .button-action {
    gap: 0 3.125vw;
    margin-top: 5.208vw;
  }
  .home-product-list .button-action .learn-more {
    font-size: 3.5vw;
  }
  .home-product-list .button-action .add-cart {
    width: 11vw;
    height: 11vw;
  }
  .home-product .view-more-product {
    gap: 32px 0;
  }
  .home-product .view-more-product img {
    width: 30vw;
    height: 15vw;
  }
  .home-blog-seasonal a {
    font-size: 3vw;
  }
  .home-blog-desc {
    font-size: 3.2vw;
  }
  .home-news-item .created-at {
    font-size: 3vw;
  }
  .home-news-item .title {
    font-size: 3.5vw;
  }
  .home-contact-bottom {
    margin-top: 6vw;
  }
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  accent-color: #797271;
}

.register {
  margin: 0 auto 125px;
  padding: 0 20px;
  max-width: 1240px;
}
.register-main {
  max-width: 898px;
  padding: 0 20px;
  margin: 44px auto;
}
.register-header {
  text-align: center;
  margin-bottom: 73px;
}
.register-heading {
  font-size: 32px;
  font-weight: 700;
}
.register-desc {
  font-size: 20px;
  font-weight: 500;
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: 35px 0;
}
.register-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.register-form .input-group label {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.register-form .input-group label .required {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  background-color: #797271;
  padding: 2px 12px 3px 12px;
  border-radius: 2px;
  color: #fff;
}
.register-form .input-group label small {
  font-size: 12px;
  font-weight: 500;
}
.register-form .input-group input {
  width: 100%;
  border: 1px solid #797271;
  border-radius: 40px;
  padding: 17px 28px;
  font-size: 24px;
  font-weight: 300;
  background: #fff;
}
.register-form .input-group input[type=radio] {
  width: 24px;
  height: 24px;
}
.register-form .input-group .input-md {
  width: 56%;
}
.register-form .input-group .input-md button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  padding-right: 24px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form .input-group .input-md button img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.register-form .input-group .input-password {
  position: relative;
}
.register-form .input-group .input-radio {
  display: flex;
  align-items: center;
  gap: 0 33px;
  padding: 19px 0;
}
.register-form .input-group .input-radio label {
  display: flex;
  align-items: center;
  gap: 0 5.5px;
}
.register-form .input-group .input-radio label span {
  font-size: 24px;
}
.register-form .input-group .date-select {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.register-form .input-group .date-select .custom-select {
  width: 100%;
  position: relative;
}
.register-form .input-group .date-select .custom-select select {
  border: 1px solid #797271;
  border-radius: 40px;
  padding: 17px 28px;
  font-size: 24px;
  font-weight: 300;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.register-form .input-group .date-select .custom-select select option {
  font-size: 24px;
}
.register-form .input-group .date-select .custom-select .custom-arrow {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #797271;
}
.register-form .input-group .date-select .custom-select .custom-arrow img {
  display: block;
  height: 32px;
  width: 32px;
  object-fit: contain;
}
.register-form .add-more-info button {
  display: block;
  border: 1px solid #797271;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 20px;
  background: #fff;
}
.register-form .privacy-policy-group {
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.register-form .privacy-policy-group input {
  width: 24px;
  height: 24px;
  border: 2px solid #797271;
}
.register-form .privacy-policy-group label {
  font-size: 20px;
  font-weight: 500;
}
.register-form .privacy-policy-group label .text-blue {
  color: #1d96d6;
  margin-right: 12px;
  text-decoration: underline;
}
.register-submit {
  text-align: center;
  margin-top: 122px;
}
.register-submit button {
  display: inline-block;
  border-radius: 100px;
  padding: 15px 132px;
  background-color: #b2ce7c;
  color: #fff;
  font-size: 24px;
  border: none;
}

@media (max-width: 768px) {
  .register {
    margin-bottom: 16.276vw;
    padding: 0 3vw;
  }
  .register-main {
    padding: 0 2vw;
    margin: 5.729vw auto;
  }
  .register-header {
    margin-bottom: 9vw;
  }
  .register-heading {
    font-size: 4.167vw;
  }
  .register-desc {
    font-size: 2.604vw;
  }
  .register-form {
    gap: 5vw 0;
  }
  .register-form .input-group {
    gap: 2.083vw 0;
  }
  .register-form .input-group label {
    font-size: 3.125vw;
    gap: 0 2.083vw;
  }
  .register-form .input-group label .required {
    font-size: 2.083vw;
    padding: 0.26vw 1.563vw 0.391vw;
  }
  .register-form .input-group label small {
    font-size: 1.563vw;
  }
  .register-form .input-group input {
    border-radius: 5.208vw;
    padding: 2.214vw 3.646vw;
    font-size: 3.125vw;
  }
  .register-form .input-group input[type=radio] {
    width: 3.125vw;
    height: 3.125vw;
  }
  .register-form .input-group .input-md {
    width: 80%;
  }
  .register-form .input-group .input-md button {
    padding-right: 3.125vw;
  }
  .register-form .input-group .input-md button img {
    width: 4.167vw;
    height: 4.167vw;
  }
  .register-form .input-group .input-radio {
    gap: 0 4.297vw;
    padding: 2.474vw 0;
  }
  .register-form .input-group .input-radio label {
    gap: 0 0.716vw;
  }
  .register-form .input-group .input-radio label span {
    font-size: 3.125vw;
  }
  .register-form .input-group .date-select {
    gap: 0 2.604vw;
  }
  .register-form .input-group .date-select .custom-select select {
    border-radius: 5.208vw;
    padding: 2.214vw 3.646vw;
    font-size: 3.125vw;
    width: 100%;
  }
  .register-form .input-group .date-select .custom-select select option {
    font-size: 3.125vw;
  }
  .register-form .input-group .date-select .custom-select .custom-arrow {
    right: 3.125vw;
  }
  .register-form .input-group .date-select .custom-select .custom-arrow img {
    height: 4.167vw;
    width: 4.167vw;
  }
  .register-form .add-more-info button {
    border-radius: 1.302vw;
    font-size: 2.083vw;
    padding: 1.823vw 2.604vw;
  }
  .register-form .privacy-policy-group {
    gap: 0 0.651vw;
  }
  .register-form .privacy-policy-group input {
    width: 3.125vw;
    height: 3.125vw;
  }
  .register-form .privacy-policy-group label {
    font-size: 2.604vw;
  }
  .register-form .privacy-policy-group label .text-blue {
    margin-right: 1.563vw;
  }
  .register-submit {
    margin-top: 15vw;
  }
  .register-submit button {
    border-radius: 13.021vw;
    padding: 1.953vw 17.188vw;
    font-size: 3.125vw;
  }
}
@media (max-width: 480px) {
  .register-heading {
    font-size: 5vw;
  }
  .register-desc {
    font-size: 3vw;
  }
  .register-form {
    gap: 6vw 0;
  }
  .register-form .input-group label small {
    font-size: 2vw;
  }
  .register-form .input-group input[type=radio] {
    width: 4vw;
    height: 4vw;
  }
  .register-form .input-group .date-select .custom-select .custom-arrow {
    right: 2vw;
  }
  .register-form .input-group .date-select .custom-select .custom-arrow img {
    height: 5vw;
    width: 5vw;
  }
  .register-form .add-more-info button {
    font-size: 2.5vw;
  }
  .register-form .privacy-policy-group input {
    width: 4vw;
    height: 4vw;
  }
  .register-submit {
    margin-top: 10vw;
  }
  .register-submit button {
    font-size: 3.5vw;
  }
}
.profile-post {
  margin: 33px auto;
  padding: 0 20px;
  max-width: 1240px;
}
.profile-post-content h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 30px;
}
.profile-post-content h3:first-of-type {
  margin-bottom: 75px;
}
.profile-post-content p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 105px;
  line-height: 1.75;
  letter-spacing: 0.32px;
}
.profile-post-image {
  margin-bottom: 73px;
}
.profile-line-wrapper {
  margin: 0 auto;
  padding: 28px 20px;
  max-width: 1500px;
}
.profile-info {
  margin: 102px auto 247px;
  padding: 0 20px;
  max-width: 1410px;
}
.profile-info-main {
  display: flex;
  align-items: center;
  gap: 0 185px;
}
.profile-info-details {
  max-width: 635px;
  width: 100%;
}
.profile-info-title {
  font-size: 36px;
  font-weight: 500;
}
.profile-info-list {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
.profile-info-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 20px;
  font-weight: 500;
}
.profile-info-item p {
  margin: 0;
}

@media (max-width: 1024px) {
  .profile-info-main {
    flex-direction: column;
    gap: 60px 0;
  }
  .profile-info-details {
    max-width: 100%;
  }
  .profile-info-image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .profile-post {
    margin: 4.297vw auto;
    padding: 0 3vw;
  }
  .profile-post-content h3 {
    font-size: 4.688vw;
    margin-bottom: 3.906vw;
  }
  .profile-post-content h3:first-of-type {
    margin-bottom: 7vw;
  }
  .profile-post-content p {
    font-size: 2.604vw;
    margin-bottom: 14vw;
    letter-spacing: 0.078vw;
  }
  .profile-post-image {
    margin-bottom: 9.766vw;
  }
  .profile-info {
    margin: 16.536vw auto;
    padding: 0 2vw;
  }
  .profile-info-main {
    gap: 8vw 0;
  }
  .profile-info-title {
    font-size: 4.688vw;
  }
  .profile-info-list {
    margin-top: 8.073vw;
    gap: 5.208vw;
  }
  .profile-info-item {
    font-size: 2.604vw;
  }
  .profile-info-image img {
    width: 60vw;
  }
}
@media (max-width: 480px) {
  .profile-post-content h3 {
    font-size: 5vw;
  }
  .profile-post-content p {
    font-size: 3.5vw;
  }
  .profile-info-title {
    font-size: 5vw;
  }
  .profile-info-item {
    font-size: 3.5vw;
  }
}
.productDetails {
  max-width: 1240px;
  margin: 10px auto 160px;
  padding: 0 20px;
}
.productDetails .breadcrumb a,
.productDetails .breadcrumb span {
  font-size: 14px;
}
.productDetails-main {
  display: flex;
  gap: 0 100px;
}
.productDetails-content {
  max-width: 361px;
  width: 100%;
}
.productDetails-slider-container {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px 0;
}
.productDetails-slider-main {
  background-color: #fff;
  width: 100%;
}
.productDetails-slider-main .slick-slide {
  display: flex !important;
  justify-content: center;
  padding: 51px 0;
}
.productDetails-slider-main img {
  width: 316px !important;
  height: 538px !important;
  object-fit: cover;
}
.productDetails-slider-thumbnail {
  max-width: 600px;
  margin-left: 20px;
  width: 100%;
}
.productDetails-slider-thumbnail .slick-list {
  width: 473px;
}
.productDetails-slider-thumbnail .slick-slide {
  width: 124px !important;
  height: 124px !important;
  padding: 10px;
  margin-right: 10px;
}
.productDetails-slider-thumbnail .slick-slide img {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
}
.productDetails-slider-thumbnail .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  outline: none;
  border: none;
}
.productDetails-slider-thumbnail .slick-arrow img {
  width: 16px;
  height: 24px;
}
.productDetails-slider-thumbnail .slick-prev {
  right: 10%;
}
.productDetails-slider-thumbnail .slick-next {
  right: 0;
}
.productDetails-slider-thumbnail .slick-current {
  border: 5px solid #797271;
  border-radius: 16px;
}
.productDetails-status {
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin-bottom: 18px;
}
.productDetails-status span {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  width: 80px;
  padding: 2px 0;
  background-color: #797271;
  text-align: center;
}
.productDetails-name {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 8px;
}
.productDetails-name span {
  font-size: 14px;
  font-weight: 500;
}
.productDetails-price {
  margin-bottom: 13px;
}
.productDetails-price small {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.productDetails-price span {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.17;
}
.productDetails-price strong {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.productDetails-rating {
  display: flex;
  align-items: center;
  gap: 0 28px;
  margin-bottom: 38px;
}
.productDetails-rating .more-rating {
  font-size: 14px;
  font-weight: 500;
  background-color: #f5ba44;
  color: #fff;
  border-radius: 24px;
  padding: 2px 16px;
}
.productDetails-star {
  display: flex;
  align-items: center;
  gap: 0 2px;
}
.productDetails-star img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.productDetails-star .count-star {
  font-size: 16px;
  font-weight: 500;
}
.productDetails-color {
  margin-bottom: 17px;
}
.productDetails-color-title {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.7;
  margin-bottom: 5px;
}
.productDetails-color-options {
  display: flex;
  gap: 0 10px;
}
.productDetails-color-options input[type=radio] {
  display: none;
}
.productDetails-color-options input[type=radio]:checked + label {
  border: 3px solid #797271;
}
.productDetails-color-options label {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s;
}
.productDetails-color-options label img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}
.productDetails-option {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  margin-bottom: 30px;
}
.productDetails-option-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productDetails-option-item label {
  font-size: 16px;
  font-weight: 400;
}
.productDetails-option-item select {
  border: 2px solid #797271;
  border-radius: 45px;
  padding: 0px 32px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.productDetails-option-item .wrapping {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.productDetails-option-item .wrapping label {
  display: flex;
  align-items: center;
  gap: 0 2px;
}
.productDetails-option-item .wrapping label input {
  width: 16px;
  height: 16px;
}
.productDetails .select-custom {
  position: relative;
  width: 240px;
}
.productDetails .select-custom-arrow {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  pointer-events: none;
}
.productDetails .select-custom-arrow img {
  width: 16px;
  height: 12px;
  object-fit: contain;
}
.productDetails-quantity select {
  font-size: 24px;
  font-weight: 400;
}
.productDetails-shipping {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.productDetails-shipping p {
  font-size: 14px;
  font-weight: 400;
}
.productDetails-shipping img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.productDetails-addCart {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  background-color: #fe9ba9;
  border-radius: 40px;
  padding: 15px 0px;
  width: 100%;
  justify-content: center;
  text-wrap: nowrap;
  gap: 0 5px;
  margin-bottom: 30px;
}
.productDetails-addCart span {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 24px;
  color: #fff;
}
.productDetails-addCart img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}
.productDetails-share {
  display: flex;
  align-items: center;
  gap: 0 24px;
  padding: 0 25px;
}
.productDetails-share span {
  font-size: 14px;
  font-weight: 400;
}
.productDetails-social {
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.productDetails-social img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
}

.productTab {
  max-width: 1240px;
  margin: 10px auto 162px;
  padding: 0 20px;
}
.productTab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.productTab-header h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}
.productTab-toggle-content {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: #797271;
  background: transparent;
  border: none;
  margin-bottom: 10px;
  font-size: 0;
}
.productTab-toggle-content::before, .productTab-toggle-content::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #797271;
}
.productTab-toggle-content::before {
  width: 17px;
  height: 3px;
}
.productTab-toggle-content.plus::after {
  width: 3px;
  height: 17px;
}
.productTab .line {
  margin: 40px 0;
}
.productTab .tab {
  max-width: 640px;
  width: 100%;
  border-bottom: 2px solid #797271;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.productTab .tab button {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 24px;
  font-weight: 500;
  opacity: 0.7;
  padding-bottom: 10px;
}
.productTab .tab button.active {
  border-bottom: 6px solid #ee9ea9;
  opacity: 1;
}
.productTab-content {
  display: none;
  max-width: 640px;
  width: 100%;
}
.productTab-heading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}
.productTab-specical h4 {
  font-family: "Roboto", sans-serif;
}
.productTab-specical-info {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.productTab-specical-info-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 20px;
}
.productTab-specical-info-item ul {
  list-style: inside;
}
.productTab-specical-info-item p {
  margin: 0;
}
.productTab-notice-main {
  list-style: inside;
}
.productTab-notice-main li {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1px;
}
.productTab-manual-main span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.productTab-manual-main p {
  font-family: "Inter", sans-serif;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.productTab-manual-link {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  display: block;
  margin-bottom: 24px;
}
.productTab-manual-item {
  margin-bottom: 22px;
}
.productTab-exchange {
  margin-bottom: 74px;
}
.productTab-exchange-main {
  font-size: 14px;
  font-weight: 500;
}
.productTab-exchange-main p {
  font-family: "Inter", sans-serif;
  margin-bottom: 5px;
}
.productTab-exchange-main a {
  font-family: "Inter", sans-serif;
  color: #4da7d6;
  text-decoration: underline;
}
.productTab-faq-heading {
  font-size: 24px;
  font-weight: 500;
}
.productTab-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.productTab-faq-question h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.productTab-faq-answer p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.product-seller {
  margin-bottom: 250px;
}
.product-seller-header {
  border-bottom: 1px solid #797271;
  margin-bottom: 70px;
}
.product-seller-heading {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 3.2px;
  margin: 0;
}
.product-seller-heading span {
  font-family: "TsukushiARoundGothic", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.product-seller .home-product-main {
  max-width: 1240px;
}

@media screen and (max-width: 1280px) {
  .productDetails-main {
    gap: 60px;
  }
  .productDetails-slider-container {
    max-width: 550px;
  }
  .productDetails-slider-thumbnail .slick-list {
    width: 400px;
  }
}
@media screen and (max-width: 1024px) {
  .productDetails-main {
    gap: 50px;
  }
  .productDetails-slider-container {
    max-width: 500px;
  }
  .productDetails-slider-thumbnail .slick-list {
    width: 400px;
  }
  .productDetails-content {
    max-width: 100%;
    padding: 0 20px;
  }
  .productDetails .select-custom {
    width: 300px;
  }
}
@media screen and (max-width: 991px) {
  .productDetails-main {
    flex-direction: column;
  }
  .productDetails-slider-container {
    max-width: 100%;
    align-items: center;
  }
  .productDetails-slider-thumbnail .slick-list {
    width: 400px;
  }
  .productDetails-content {
    max-width: 100%;
    padding: 0 20px;
  }
  .productDetails .select-custom {
    width: 300px;
  }
}
@media screen and (max-width: 767.98px) {
  .productDetails {
    margin: 1.302vw auto 13vw;
    padding: 0 2.604vw;
  }
  .productDetails .breadcrumb a,
  .productDetails .breadcrumb span {
    font-size: 1.823vw;
  }
  .productDetails-main {
    gap: 8vw;
  }
  .productDetails-slider-container {
    gap: 6vw 0;
  }
  .productDetails-slider-main .slick-slide {
    padding: 6.51vw 0;
  }
  .productDetails-slider-main img {
    width: 39.063vw !important;
    height: 65.104vw !important;
  }
  .productDetails-slider-thumbnail {
    max-width: 78.125vw;
    margin-left: 2.604vw;
  }
  .productDetails-slider-thumbnail .slick-list {
    width: 61.589vw;
  }
  .productDetails-slider-thumbnail .slick-slide {
    width: 16.146vw !important;
    height: 16.146vw !important;
    padding: 1.302vw;
    margin-right: 1.302vw;
  }
  .productDetails-slider-thumbnail .slick-slide img {
    width: 13.021vw !important;
    height: 12vw !important;
  }
  .productDetails-slider-thumbnail .slick-arrow img {
    width: 2.083vw;
    height: 3.125vw;
  }
  .productDetails-slider-thumbnail .slick-current {
    border-radius: 2.083vw;
  }
  .productDetails-status {
    gap: 0 2.083vw;
    margin-bottom: 2.344vw;
  }
  .productDetails-status span {
    font-size: 1.563vw;
    width: 10.417vw;
    padding: 0.26vw 0;
  }
  .productDetails-name {
    font-size: 4.167vw;
    margin-bottom: 1.042vw;
  }
  .productDetails-name span {
    font-size: 1.823vw;
  }
  .productDetails-price {
    margin-bottom: 1.693vw;
  }
  .productDetails-price small {
    font-size: 2.604vw;
  }
  .productDetails-price span {
    font-size: 4.688vw;
  }
  .productDetails-price strong {
    font-size: 1.823vw;
  }
  .productDetails-rating {
    gap: 0 3.646vw;
    margin-bottom: 4.948vw;
  }
  .productDetails-rating .more-rating {
    font-size: 1.823vw;
    border-radius: 3.125vw;
    padding: 0.26vw 2.083vw;
  }
  .productDetails-star {
    gap: 0 0.26vw;
  }
  .productDetails-star img {
    width: 3.125vw;
    height: 3.125vw;
  }
  .productDetails-star .count-star {
    font-size: 2.083vw;
  }
  .productDetails-color {
    margin-bottom: 2.214vw;
  }
  .productDetails-color-title {
    font-size: 2.083vw;
    margin-bottom: 0.651vw;
  }
  .productDetails-color-options {
    gap: 0 1.302vw;
  }
  .productDetails-color-options label {
    width: 10.417vw;
    height: 10.417vw;
  }
  .productDetails-color-options label img {
    width: 7.292vw;
    height: 7.292vw;
  }
  .productDetails-option {
    gap: 1.953vw 0;
    margin-bottom: 3.906vw;
  }
  .productDetails-option-item label {
    font-size: 2.083vw;
  }
  .productDetails-option-item select {
    border-radius: 5.859vw;
    padding: 0px 4.167vw;
    height: 5.208vw;
    font-size: 2.083vw;
  }
  .productDetails-option-item .wrapping {
    gap: 0 1.953vw;
  }
  .productDetails-option-item .wrapping label input {
    width: 2.083vw;
    height: 2.083vw;
  }
  .productDetails .select-custom {
    width: 31.25vw;
  }
  .productDetails .select-custom-arrow {
    right: 3.125vw;
  }
  .productDetails .select-custom-arrow img {
    width: 2.083vw;
    height: 1.563vw;
  }
  .productDetails-quantity select {
    font-size: 3.125vw;
  }
  .productDetails-shipping {
    gap: 0 1.302vw;
  }
  .productDetails-shipping p {
    font-size: 1.823vw;
  }
  .productDetails-shipping img {
    width: 3.255vw;
    height: 3.255vw;
  }
  .productDetails-addCart {
    padding: 1.953vw 0px;
    gap: 0 0.651vw;
    margin-bottom: 3.906vw;
  }
  .productDetails-addCart span {
    font-size: 3.125vw;
  }
  .productDetails-addCart img {
    width: 3.646vw;
    height: 3.646vw;
  }
  .productDetails-share {
    gap: 0 3.125vw;
    padding: 0 3.255vw;
  }
  .productDetails-share span {
    font-size: 1.823vw;
  }
  .productDetails-social {
    gap: 0 1.953vw;
  }
  .productDetails-social img {
    width: 3.125vw;
    height: 3.125vw;
  }
  .productTab {
    margin: 1.302vw auto 13vw;
    padding: 0 2.604vw;
  }
  .productTab-header {
    margin-bottom: 3.906vw;
  }
  .productTab-header h4 {
    font-size: 2.604vw;
  }
  .productTab-toggle-content {
    width: 3.125vw;
    height: 3.125vw;
    margin-bottom: 1.302vw;
  }
  .productTab-toggle-content::before {
    width: 2.214vw;
    height: 0.391vw;
  }
  .productTab-toggle-content.plus::after {
    width: 0.391vw;
    height: 2.214vw;
  }
  .productTab .line {
    margin: 5.208vw 0;
  }
  .productTab .tab {
    margin-bottom: 8.333vw;
  }
  .productTab .tab button {
    font-size: 3.125vw;
    padding-bottom: 1.302vw;
  }
  .productTab .tab button.active {
    border-width: 1vw;
  }
  .productTab-content {
    max-width: 100%;
  }
  .productTab-heading {
    font-size: 3.125vw;
    margin-bottom: 5.208vw;
  }
  .productTab-specical-info {
    gap: 2.865vw;
  }
  .productTab-specical-info-item {
    gap: 0 2.604vw;
    font-size: 2.083vw;
  }
  .productTab-notice-main li {
    font-size: 1.823vw;
  }
  .productTab-manual-main span {
    font-size: 1.823vw;
  }
  .productTab-manual-main p {
    font-size: 1.823vw;
  }
  .productTab-manual-link {
    font-size: 1.823vw;
    margin-bottom: 3.125vw;
  }
  .productTab-manual-item {
    margin-bottom: 2.865vw;
  }
  .productTab-exchange {
    margin-bottom: 7.813vw;
  }
  .productTab-exchange-main {
    font-size: 1.823vw;
  }
  .productTab-exchange-main p {
    margin-bottom: 0.651vw;
  }
  .productTab-faq-heading {
    font-size: 3.125vw;
  }
  .productTab-faq-question {
    margin-bottom: 3.906vw;
  }
  .productTab-faq-question h4 {
    font-size: 2.604vw;
  }
  .productTab-faq-answer p {
    font-size: 2.083vw;
  }
  .product-seller {
    margin-bottom: 25vw;
  }
  .product-seller-header {
    margin-bottom: 8vw;
  }
  .product-seller-heading {
    font-size: 4.167vw;
    letter-spacing: 0.417vw;
  }
  .product-seller-heading span {
    font-size: 2.083vw;
  }
  .product-seller .home-product-main {
    padding: 0 2.604vw;
  }
}
@media screen and (max-width: 480px) {
  .productDetails .breadcrumb a,
  .productDetails .breadcrumb span {
    font-size: 3vw;
  }
  .productDetails-status span {
    font-size: 2.5vw;
    width: 15vw;
  }
  .productDetails-name {
    font-size: 5.5vw;
  }
  .productDetails-name span {
    font-size: 3vw;
  }
  .productDetails-price small {
    font-size: 3.5vw;
  }
  .productDetails-price span {
    font-size: 6vw;
  }
  .productDetails-price strong {
    font-size: 3vw;
  }
  .productDetails-rating .more-rating {
    font-size: 3vw;
  }
  .productDetails-star img {
    width: 4vw;
    height: 4vw;
  }
  .productDetails-star .count-star {
    font-size: 3.2vw;
  }
  .productDetails-color-title {
    font-size: 3.2vw;
  }
  .productDetails-option-item label {
    font-size: 3.2vw;
  }
  .productDetails-option-item select {
    height: 7vw;
    font-size: 3.2vw;
  }
  .productDetails-option-item .wrapping label input {
    width: 3vw;
    height: 3vw;
  }
  .productDetails .select-custom {
    width: 40vw;
  }
  .productDetails-quantity select {
    font-size: 4vw;
  }
  .productDetails-shipping p {
    font-size: 3vw;
  }
  .productDetails-shipping img {
    width: 4vw;
    height: 4vw;
  }
  .productDetails-addCart span {
    font-size: 5vw;
  }
  .productDetails-addCart img {
    width: 5vw;
    height: 5vw;
  }
  .productDetails-share span {
    font-size: 3vw;
  }
  .productDetails-social img {
    width: 4vw;
    height: 4vw;
  }
  .productTab-header h4 {
    font-size: 4.8vw;
  }
  .productTab-toggle-content::before {
    width: 4vw;
    height: 0.7vw;
  }
  .productTab-toggle-content.plus::after {
    width: 0.7vw;
    height: 4vw;
  }
  .productTab .tab button {
    font-size: 4.8vw;
  }
  .productTab .tab button.active {
    border-width: 1vw;
  }
  .productTab-heading {
    font-size: 4.8vw;
  }
  .productTab-specical-info-item {
    font-size: 3.2vw;
  }
  .productTab-notice-main li {
    font-size: 3vw;
  }
  .productTab-manual-main span {
    font-size: 3vw;
  }
  .productTab-manual-main p {
    font-size: 3vw;
  }
  .productTab-manual-link {
    font-size: 3vw;
  }
  .productTab-exchange-main {
    font-size: 3vw;
  }
  .productTab-faq-heading {
    font-size: 4.8vw;
  }
  .productTab-faq-question h4 {
    font-size: 4vw;
  }
  .productTab-faq-answer p {
    font-size: 3vw;
  }
  .product-seller-heading {
    font-size: 5.5vw;
  }
  .product-seller-heading span {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=main.css.map */
